## Overall Correlation across all companies
### High level view of how ESG scores are related to stock prices in dataset.

In [1]:
import matplotlib.pyplot as plt 
import seaborn as sns
import pandas as pd

In [2]:
uslaborstats_factors = pd.read_csv('./Data/final_data_v3.csv')

In [3]:
uslaborstats_factors.head()

,Unnamed: 0,average_hourly_earnings,Interpolated Employment Cost Index,payroll_employment,PPIACO,Interpolated Labor Productivity,unemployment_rate
0,2000-01-01,NaN,NaN,131009.0,128.3,71.263000,4.0
1,2000-02-01,NaN,NaN,131120.0,129.8,72.157779,4.1
2,2000-03-01,NaN,NaN,131604.0,130.8,72.566531,4.0
3,2000-04-01,NaN,NaN,131883.0,130.7,72.691000,3.8
4,2000-05-01,NaN,NaN,132106.0,131.6,72.645467,4.0

In [4]:
yahooFinance_ESG_data = pd.read_csv('./data/output_us_yfinance_v2_mod.csv')

In [5]:
yahooFinance_ESG_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Environment Score,Social Score,Governance Score,Company Name,Industry Group,Primary Sector,Country,Ticker
0,01/10/2014,1.20,1.70,1.00,1.69,1.69,45200,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
1,01/11/2014,1.68,2.00,1.33,2.00,2.00,17800,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
2,01/12/2014,1.99,2.10,1.69,2.09,2.09,10700,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
3,01/01/2015,2.09,2.10,1.95,1.95,1.95,4000,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
4,01/02/2015,1.95,1.95,1.44,1.44,1.44,100,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG

In [6]:
hdi_data = pd.read_excel('./Data/interpolated_hdiV2.xlsx')
hdi_data.head()

         Date  Interpolated HDI
0  01/01/1990          0.872000
1  01/02/1990          0.871659
2  01/03/1990          0.871417
3  01/04/1990          0.871266
4  01/05/1990          0.871202

#### remove Nan values in Environment score

In [7]:
yahooFinance_ESG_data.dropna(subset=['Social Score', 'Environment Score', 'Governance Score'], inplace=True)

In [8]:
yahooFinance_ESG_data['Industry Group'].unique()

array(['Advertising', 'Aerospace/Defense', 'Beverage (Alcoholic)',
       'Beverage (Soft)', 'Broadcasting',
       'Brokerage & Investment Banking', 'Building Materials',
       'Business & Consumer Services', 'Cable TV', 'Chemical (Basic)',
       'Chemical (Diversified)', 'Chemical (Specialty)',
       'Computer Services', 'Computers/Peripherals',
       'Construction Supplies', 'Diversified', 'Drugs (Biotechnology)',
       'Air Transport', 'Apparel', 'Auto & Truck', 'Auto Parts',
       'Bank (Money Center)', 'Banks (Regional)'], dtype=object)

In [9]:
unique_companies = yahooFinance_ESG_data['Company Name'].unique()

In [10]:
len(unique_companies)

146

In [11]:
uslaborstats_factors.head()

,Unnamed: 0,average_hourly_earnings,Interpolated Employment Cost Index,payroll_employment,PPIACO,Interpolated Labor Productivity,unemployment_rate
0,2000-01-01,NaN,NaN,131009.0,128.3,71.263000,4.0
1,2000-02-01,NaN,NaN,131120.0,129.8,72.157779,4.1
2,2000-03-01,NaN,NaN,131604.0,130.8,72.566531,4.0
3,2000-04-01,NaN,NaN,131883.0,130.7,72.691000,3.8
4,2000-05-01,NaN,NaN,132106.0,131.6,72.645467,4.0

In [12]:
yahooFinance_ESG_data['Date'] = pd.to_datetime(yahooFinance_ESG_data['Date'], format='%d/%m/%Y')

In [13]:
yahooFinance_ESG_data.shape

(33771, 15)

In [14]:
uslaborstats_factors['Date'] = pd.to_datetime(uslaborstats_factors['Unnamed: 0'], format='%Y-%m-%d')
uslaborstats_factors.drop(columns=['Unnamed: 0'], inplace=True)
cols = uslaborstats_factors.columns.tolist()
cols = [cols[-1]] + cols[:-1]
uslaborstats_factors = uslaborstats_factors[cols]
uslaborstats_factors

,Date,average_hourly_earnings,Interpolated Employment Cost Index,payroll_employment,PPIACO,Interpolated Labor Productivity,unemployment_rate
0,2000-01-01,NaN,NaN,131009.0,128.3,71.263000,4.0
1,2000-02-01,NaN,NaN,131120.0,129.8,72.157779,4.1
2,2000-03-01,NaN,NaN,131604.0,130.8,72.566531,4.0
3,2000-04-01,NaN,NaN,131883.0,130.7,72.691000,3.8
4,2000-05-01,NaN,NaN,132106.0,131.6,72.645467,4.0
...,...,...,...,...,...,...,...
295,2024-08-01,NaN,NaN,NaN,NaN,NaN,NaN
296,2024-09-01,NaN,NaN,NaN,NaN,NaN,NaN
297,2024-10-01,NaN,NaN,NaN,NaN,NaN,NaN
298,2024-11-01,NaN,NaN,NaN,NaN,NaN,NaN
299,2024-12-01,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#uslaborstats_factors['Date'] = pd.to_datetime(uslaborstats_factors['Date'], format='%d/%m/%Y')

hdi_data['Date'] = pd.to_datetime(hdi_data['Date'], format='%d/%m/%Y')

# Merge the dataframes on 'Date'
merged_data = pd.merge(uslaborstats_factors, hdi_data, on='Date', how='left')

# Filter the data to only include dates from 2000 onwards
filtered_data = merged_data[(merged_data['Date'] >= '2000-01-01') & (merged_data['Date'] <= '2022-12-01')]

# Display the merged and filtered data
filtered_data.head()
uslaborstats_factors = filtered_data

### get the start dates of each stocks

In [16]:
start_dates = yahooFinance_ESG_data.groupby('Company Name')['Date'].min()
start_dates = pd.Series(start_dates)
#start_dates.sort_values(axis=1)
start_dates.head(50)

Company Name
3M Company (NYSE:MMM)                                        2001-01-01
A. O. Smith Corporation (NYSE:AOS)                           2001-01-01
AMB Financial Corp. (OTCPK:AMFC)                             2001-01-01
AbbVie Inc. (NYSE:ABBV)                                      2013-02-01
Accredited Solutions, Inc. (OTCPK:ASII)                      2010-11-01
African Discovery Group, Inc. (OTCPK:AFDG)                   2012-02-01
Air Products and Chemicals, Inc. (NYSE:APD)                  2001-01-01
Albemarle Corporation (NYSE:ALB)                             2001-01-01
Amdocs Limited (NasdaqGS:DOX)                                2001-01-01
American Airlines Group Inc. (NasdaqGS:AAL)                  2005-10-01
American International Industries, Inc. (OTCPK:AMIN)         2002-07-01
Amgen Inc. (NasdaqGS:AMGN)                                   2001-01-01
Andover Bancorp, Inc. (OTCPK:ANDC)                           2018-03-01
Apple Inc. (NasdaqGS:AAPL)                                   2001-01-01
Arrow Electronics, Inc. (NYSE:ARW)                           2001-01-01
Ashland Inc. (NYSE:ASH)                                      2001-01-01
Automatic Data Processing, Inc. (NasdaqGS:ADP)               2001-01-01
Avnet, Inc. (NasdaqGS:AVT)                                   2001-01-01
Axalta Coating Systems Ltd. (NYSE:AXTA)                      2014-12-01
BOK Financial Corporation (NasdaqGS:BOKF)                    2001-01-01
Bank of America Corporation (NYSE:BAC)                       2001-01-01
BioMarin Pharmaceutical Inc. (NasdaqGS:BMRN)                 2001-01-01
Biogen Inc. (NasdaqGS:BIIB)                                  2001-01-01
Booz Allen Hamilton Holding Corporation (NYSE:BAH)           2010-12-01
BorgWarner Inc. (NYSE:BWA)                                   2001-01-01
CDW Corporation (NasdaqGS:CDW)                               2013-07-01
CF Industries Holdings, Inc. (NYSE:CF)                       2005-09-01
California International Bank, N.A. (OTCPK:CAIB)             2007-06-01
CannaGrow Holdings, Inc (OTCPK:CGRW)                         2012-04-01
Carlisle Companies Incorporated (NYSE:CSL)                   2001-01-01
Celanese Corporation (NYSE:CE)                               2005-02-01
Charter Communications, Inc. (NasdaqGS:CHTR)                 2010-02-01
Cintas Corporation (NasdaqGS:CTAS)                           2001-01-01
Citizens Financial Group, Inc. (NYSE:CFG)                    2014-10-01
Cognizant Technology Solutions Corporation (NasdaqGS:CTSH)   2001-01-01
Comcast Corporation (NasdaqGS:CMCSA)                         2001-01-01
Comerica Incorporated (NYSE:CMA)                             2001-01-01
Commerce Bancshares, Inc. (NasdaqGS:CBSH)                    2001-01-01
Constellation Brands, Inc. (NYSE:STZ)                        2001-01-01
Copart, Inc. (NasdaqGS:CPRT)                                 2001-01-01
Correlate Energy Corp. (OTCPK:CIPI)                          2005-12-01
Cullen/Frost Bankers, Inc. (NYSE:CFR)                        2001-01-01
DXC Technology Company (NYSE:DXC)                            2001-01-01
Dell Technologies Inc. (NYSE:DELL)                           2016-09-01
Delta Air Lines, Inc. (NYSE:DAL)                             2007-06-01
DuPont de Nemours, Inc. (NYSE:DD)                            2001-01-01
Eagle Materials Inc. (NYSE:EXP)                              2001-01-01
East West Bancorp, Inc. (NasdaqGS:EWBC)                      2001-01-01
Eastman Chemical Company (NYSE:EMN)                          2001-01-01
Ecolab Inc. (NYSE:ECL)                                       2001-01-01
Name: Date, dtype: datetime64[ns]

In [17]:
print(start_dates.iloc[50:100])  # Next 50 entries

Company Name
Ecom Products Group Corporation (OTCPK:EPGC)             2013-12-01
Equifax Inc. (NYSE:EFX)                                  2001-01-01
Exchange Bankshares, Inc. (OTCPK:EXCH)                   2010-11-01
FMC Corporation (NYSE:FMC)                               2001-01-01
FNB, Inc. (OTCPK:FIDS)                                   2007-06-01
Fifth Third Bancorp (NasdaqGS:FITB)                      2001-01-01
First National Bank Alaska (OTCPK:FBAK)                  2003-11-01
First Republic Bank (OTCPK:FRCB)                         2011-01-01
Ford Motor Company (NYSE:F)                              2001-01-01
Fortune Brands Innovations, Inc. (NYSE:FBIN)             2011-10-01
Freedom Financial Holdings, Inc. (OTCPK:FDVA)            2007-06-01
G6 Materials Corp. (TSXV:GGG)                            2001-01-01
Gartner, Inc. (NYSE:IT)                                  2001-01-01
General Dynamics Corporation (NYSE:GD)                   2001-01-01
General Electric Company (NYSE:GE)                       2001-01-01
General Motors Company (NYSE:GM)                         2010-12-01
Gentex Corporation (NasdaqGS:GNTX)                       2001-01-01
Genuine Marketing Group Inc. (OTCPK:GMGZ)                2010-08-01
Gilead Sciences, Inc. (NasdaqGS:GILD)                    2001-01-01
HP Inc. (NYSE:HPQ)                                       2001-01-01
Hanesbrands Inc. (NYSE:HBI)                              2006-10-01
Harley-Davidson, Inc. (NYSE:HOG)                         2001-01-01
Harleysville Financial Corporation (OTCPK:HARL)          2001-01-01
Hewlett Packard Enterprise Company (NYSE:HPE)            2015-11-01
Honeywell International Inc. (NasdaqGS:HON)              2001-01-01
Huntington Bancshares Incorporated (NasdaqGS:HBAN)       2001-01-01
Huntsman Corporation (NYSE:HUN)                          2005-03-01
Incyte Corporation (NasdaqGS:INCY)                       2001-01-01
International Business Machines Corporation (NYSE:IBM)   2001-01-01
International Flavors & Fragrances Inc. (NYSE:IFF)       2001-01-01
Ionis Pharmaceuticals, Inc. (NasdaqGS:IONS)              2001-01-01
Itaconix plc (AIM:ITX)                                   2007-11-01
JPMorgan Chase & Co. (NYSE:JPM)                          2001-01-01
Jefferies Financial Group Inc. (NYSE:JEF)                2001-01-01
KeyCorp (NYSE:KEY)                                       2001-01-01
Lear Corporation (NYSE:LEA)                              2009-12-01
Leidos Holdings, Inc. (NYSE:LDOS)                        2006-11-01
Lennox International Inc. (NYSE:LII)                     2001-01-01
Lockheed Martin Corporation (NYSE:LMT)                   2001-01-01
LyondellBasell Industries N.V. (NYSE:LYB)                2010-05-01
M&T Bank Corporation (NYSE:MTB)                          2001-01-01
ManpowerGroup Inc. (NYSE:MAN)                            2001-01-01
Martin Marietta Materials, Inc. (NYSE:MLM)               2001-01-01
Masco Corporation (NYSE:MAS)                             2001-01-01
Molson Coors Beverage Company (NYSE:TAP)                 2001-01-01
Monster Beverage Corporation (NasdaqGS:MNST)             2001-01-01
Morgan Stanley (NYSE:MS)                                 2001-01-01
NetApp, Inc. (NasdaqGS:NTAP)                             2001-01-01
New York Community Bancorp, Inc. (NYSE:NYCB)             2001-01-01
Nitches Inc. (OTCPK:NICH)                                2001-01-01
Name: Date, dtype: datetime64[ns]

In [18]:
print(start_dates.tail(46))  # Last 46 entries

Company Name
Northrop Grumman Corporation (NYSE:NOC)               2001-01-01
Omnicom Group Inc. (NYSE:OMC)                         2001-01-01
Owens Corning (NYSE:OC)                               2006-11-01
PASSUR Aerospace, Inc. (OTCPK:PSSR)                   2001-01-01
PVH Corp. (NYSE:PVH)                                  2001-01-01
Paramount Global (NasdaqGS:PARA)                      2006-01-01
Paychex, Inc. (NasdaqGS:PAYX)                         2001-01-01
PepsiCo, Inc. (NasdaqGS:PEP)                          2001-01-01
Ralph Lauren Corporation (NYSE:RL)                    2001-01-01
Raymond James Financial, Inc. (NYSE:RJF)              2001-01-01
Regeneron Pharmaceuticals, Inc. (NasdaqGS:REGN)       2001-01-01
Regions Financial Corporation (NYSE:RF)               2001-01-01
Robert Half Inc. (NYSE:RHI)                           2001-01-01
Service Corporation International (NYSE:SCI)          2001-01-01
Signature Bank (OTCPK:SBNY)                           2004-04-01
Sirius XM Holdings Inc. (NasdaqGS:SIRI)               2001-01-01
Southwest Airlines Co. (NYSE:LUV)                     2001-01-01
Spirit AeroSystems Holdings, Inc. (NYSE:SPR)          2006-12-01
Synovus Financial Corp. (NYSE:SNV)                    2001-01-01
THOR Industries, Inc. (NYSE:THO)                      2001-01-01
Tanke Biosciences Corporation (OTCPK:TNBI)            2012-06-01
Tapestry, Inc. (NYSE:TPR)                             2001-01-01
Terra Energy Resources, Ltd. (OTCPK:TRRE)             2008-07-01
Tesla, Inc. (NasdaqGS:TSLA)                           2010-07-01
Textron Inc. (NYSE:TXT)                               2001-01-01
The Boeing Company (NYSE:BA)                          2001-01-01
The Charles Schwab Corporation (NYSE:SCHW)            2001-01-01
The Coca-Cola Company (NYSE:KO)                       2001-01-01
The Goldman Sachs Group, Inc. (NYSE:GS)               2001-01-01
The Interpublic Group of Companies, Inc. (NYSE:IPG)   2001-01-01
The PNC Financial Services Group, Inc. (NYSE:PNC)     2001-01-01
The Sherwin-Williams Company (NYSE:SHW)               2001-01-01
TransDigm Group Incorporated (NYSE:TDG)               2006-04-01
U.S. Bancorp (NYSE:USB)                               2001-01-01
Under Armour, Inc. (NYSE:UAA)                         2005-12-01
United Airlines Holdings, Inc. (NasdaqGS:UAL)         2006-03-01
United Therapeutics Corporation (NasdaqGS:UTHR)       2001-01-01
V.F. Corporation (NYSE:VFC)                           2001-01-01
Verisk Analytics, Inc. (NasdaqGS:VRSK)                2009-11-01
Vertex Pharmaceuticals Incorporated (NasdaqGS:VRTX)   2001-01-01
Vestiage, Inc. (OTCPK:VEST)                           2013-04-01
Vulcan International Corporation (OTCPK:VULC)         2001-01-01
Vulcan Materials Company (NYSE:VMC)                   2001-01-01
Wells Fargo & Company (NYSE:WFC)                      2001-01-01
Western Digital Corporation (NasdaqGS:WDC)            2001-01-01
Westlake Corporation (NYSE:WLK)                       2004-09-01
Name: Date, dtype: datetime64[ns]

In [19]:
import pandas as pd
date_range = pd.date_range(start='2000-01-01', end='2024-12-31', freq='MS')  # MS - Month Start frequency

In [20]:
date_range

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01',
               '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01',
               '2024-11-01', '2024-12-01'],
              dtype='datetime64[ns]', length=300, freq='MS')

In [21]:
companies_start_2001 = start_dates[start_dates.dt.year == 2001]
print(companies_start_2001.shape)

(99,)

yahooFinance_ESG_data - yahoofinance_esg_data

In [22]:
# Calculate the start date for each company
start_dates = yahooFinance_ESG_data.groupby('Company Name')['Date'].min()

# Filter to find companies that started on or after January 1, 2001
companies_starting_2001_onwards = start_dates[(start_dates >= '2001-01-01') & (start_dates <= '2001-12-31')].index

# Filter the main yahooFinance_ESG_data to include only these companies
filtered_yahooFinance_ESG_data = yahooFinance_ESG_data[yahooFinance_ESG_data['Company Name'].isin(companies_starting_2001_onwards)]

# Display the first few entries to verify


# Now, if you also need to ensure that you're including uslaborstats_factors data only between 2001 and 2022
# and assuming that uslaborstats_factors 'Date' column is already a datetime type
filtered_uslaborstats_factors = uslaborstats_factors[(uslaborstats_factors['Date'] >= '2001-01-01') & (uslaborstats_factors['Date'] <= '2022-12-01')]

In [23]:
# Merge both DataFrames if needed
merged_data = pd.merge(filtered_yahooFinance_ESG_data, filtered_uslaborstats_factors, on='Date', how='left')

In [24]:
# Extract data from 2023 onward for testing
test_data = yahooFinance_ESG_data[yahooFinance_ESG_data['Date'] >= '2023-01-01']

In [25]:
# This will show if there are any unmatched company names that should be matched
yahoo_names = set(yahooFinance_ESG_data['Company Name'].unique())
starting_names = set(companies_starting_2001_onwards)
print("Unmatched names in yahoo data not in start_dates:", yahoo_names - starting_names)
print("Unmatched names in start_dates not in yahoo data:", starting_names - yahoo_names)

Unmatched names in yahoo data not in start_dates: {'Huntsman Corporation (NYSE:HUN)', 'Axalta Coating Systems Ltd. (NYSE:AXTA)', 'African Discovery Group, Inc. (OTCPK:AFDG)', 'General Motors Company (NYSE:GM)', 'Freedom Financial Holdings, Inc. (OTCPK:FDVA)', 'Leidos Holdings, Inc. (NYSE:LDOS)', 'Charter Communications, Inc. (NasdaqGS:CHTR)', 'Dell Technologies Inc. (NYSE:DELL)', 'Andover Bancorp, Inc. (OTCPK:ANDC)', 'First National Bank Alaska (OTCPK:FBAK)', 'AbbVie Inc. (NYSE:ABBV)', 'United Airlines Holdings, Inc. (NasdaqGS:UAL)', 'Citizens Financial Group, Inc. (NYSE:CFG)', 'Lear Corporation (NYSE:LEA)', 'California International Bank, N.A. (OTCPK:CAIB)', 'CannaGrow Holdings, Inc (OTCPK:CGRW)', 'Tanke Biosciences Corporation (OTCPK:TNBI)', 'Under Armour, Inc. (NYSE:UAA)', 'Spirit AeroSystems Holdings, Inc. (NYSE:SPR)', 'Accredited Solutions, Inc. (OTCPK:ASII)', 'Paramount Global (NasdaqGS:PARA)', 'Genuine Marketing Group Inc. (OTCPK:GMGZ)', 'Westlake Corporation (NYSE:WLK)', 'First Republic Bank (OTCPK:FRCB)', 'Ecom Products Group Corporation (OTCPK:EPGC)', 'Hanesbrands Inc. (NYSE:HBI)', 'FNB, Inc. (OTCPK:FIDS)', 'American International Industries, Inc. (OTCPK:AMIN)', 'Owens Corning (NYSE:OC)', 'LyondellBasell Industries N.V. (NYSE:LYB)', 'Terra Energy Resources, Ltd. (OTCPK:TRRE)', 'Signature Bank (OTCPK:SBNY)', 'Delta Air Lines, Inc. (NYSE:DAL)', 'CF Industries Holdings, Inc. (NYSE:CF)', 'Verisk Analytics, Inc. (NasdaqGS:VRSK)', 'Itaconix plc (AIM:ITX)', 'American Airlines Group Inc. (NasdaqGS:AAL)', 'CDW Corporation (NasdaqGS:CDW)', 'Tesla, Inc. (NasdaqGS:TSLA)', 'Correlate Energy Corp. (OTCPK:CIPI)', 'Hewlett Packard Enterprise Company (NYSE:HPE)', 'Exchange Bankshares, Inc. (OTCPK:EXCH)', 'TransDigm Group Incorporated (NYSE:TDG)', 'Vestiage, Inc. (OTCPK:VEST)', 'Celanese Corporation (NYSE:CE)', 'Booz Allen Hamilton Holding Corporation (NYSE:BAH)', 'Fortune Brands Innovations, Inc. (NYSE:FBIN)'}
Unmatched names in start_dates not in yahoo data: set()

In [26]:
starting_names

{'3M Company (NYSE:MMM)',
 'A. O. Smith Corporation (NYSE:AOS)',
 'AMB Financial Corp. (OTCPK:AMFC)',
 'Air Products and Chemicals, Inc. (NYSE:APD)',
 'Albemarle Corporation (NYSE:ALB)',
 'Amdocs Limited (NasdaqGS:DOX)',
 'Amgen Inc. (NasdaqGS:AMGN)',
 'Apple Inc. (NasdaqGS:AAPL)',
 'Arrow Electronics, Inc. (NYSE:ARW)',
 'Ashland Inc. (NYSE:ASH)',
 'Automatic Data Processing, Inc. (NasdaqGS:ADP)',
 'Avnet, Inc. (NasdaqGS:AVT)',
 'BOK Financial Corporation (NasdaqGS:BOKF)',
 'Bank of America Corporation (NYSE:BAC)',
 'BioMarin Pharmaceutical Inc. (NasdaqGS:BMRN)',
 'Biogen Inc. (NasdaqGS:BIIB)',
 'BorgWarner Inc. (NYSE:BWA)',
 'Carlisle Companies Incorporated (NYSE:CSL)',
 'Cintas Corporation (NasdaqGS:CTAS)',
 'Cognizant Technology Solutions Corporation (NasdaqGS:CTSH)',
 'Comcast Corporation (NasdaqGS:CMCSA)',
 'Comerica Incorporated (NYSE:CMA)',
 'Commerce Bancshares, Inc. (NasdaqGS:CBSH)',
 'Constellation Brands, Inc. (NYSE:STZ)',
 'Copart, Inc. (NasdaqGS:CPRT)',
 'Cullen/Frost Bankers, Inc. (NYSE:CFR)',
 'DXC Technology Company (NYSE:DXC)',
 'DuPont de Nemours, Inc. (NYSE:DD)',
 'Eagle Materials Inc. (NYSE:EXP)',
 'East West Bancorp, Inc. (NasdaqGS:EWBC)',
 'Eastman Chemical Company (NYSE:EMN)',
 'Ecolab Inc. (NYSE:ECL)',
 'Equifax Inc. (NYSE:EFX)',
 'FMC Corporation (NYSE:FMC)',
 'Fifth Third Bancorp (NasdaqGS:FITB)',
 'Ford Motor Company (NYSE:F)',
 'G6 Materials Corp. (TSXV:GGG)',
 'Gartner, Inc. (NYSE:IT)',
 'General Dynamics Corporation (NYSE:GD)',
 'General Electric Company (NYSE:GE)',
 'Gentex Corporation (NasdaqGS:GNTX)',
 'Gilead Sciences, Inc. (NasdaqGS:GILD)',
 'HP Inc. (NYSE:HPQ)',
 'Harley-Davidson, Inc. (NYSE:HOG)',
 'Harleysville Financial Corporation (OTCPK:HARL)',
 'Honeywell International Inc. (NasdaqGS:HON)',
 'Huntington Bancshares Incorporated (NasdaqGS:HBAN)',
 'Incyte Corporation (NasdaqGS:INCY)',
 'International Business Machines Corporation (NYSE:IBM)',
 'International Flavors & Fragrances Inc. (NYSE:IFF)',
 'Ionis Pharmaceuticals, Inc. (NasdaqGS:IONS)',
 'JPMorgan Chase & Co. (NYSE:JPM)',
 'Jefferies Financial Group Inc. (NYSE:JEF)',
 'KeyCorp (NYSE:KEY)',
 'Lennox International Inc. (NYSE:LII)',
 'Lockheed Martin Corporation (NYSE:LMT)',
 'M&T Bank Corporation (NYSE:MTB)',
 'ManpowerGroup Inc. (NYSE:MAN)',
 'Martin Marietta Materials, Inc. (NYSE:MLM)',
 'Masco Corporation (NYSE:MAS)',
 'Molson Coors Beverage Company (NYSE:TAP)',
 'Monster Beverage Corporation (NasdaqGS:MNST)',
 'Morgan Stanley (NYSE:MS)',
 'NetApp, Inc. (NasdaqGS:NTAP)',
 'New York Community Bancorp, Inc. (NYSE:NYCB)',
 'Nitches Inc. (OTCPK:NICH)',
 'Northrop Grumman Corporation (NYSE:NOC)',
 'Omnicom Group Inc. (NYSE:OMC)',
 'PASSUR Aerospace, Inc. (OTCPK:PSSR)',
 'PVH Corp. (NYSE:PVH)',
 'Paychex, Inc. (NasdaqGS:PAYX)',
 'PepsiCo, Inc. (NasdaqGS:PEP)',
 'Ralph Lauren Corporation (NYSE:RL)',
 'Raymond James Financial, Inc. (NYSE:RJF)',
 'Regeneron Pharmaceuticals, Inc. (NasdaqGS:REGN)',
 'Regions Financial Corporation (NYSE:RF)',
 'Robert Half Inc. (NYSE:RHI)',
 'Service Corporation International (NYSE:SCI)',
 'Sirius XM Holdings Inc. (NasdaqGS:SIRI)',
 'Southwest Airlines Co. (NYSE:LUV)',
 'Synovus Financial Corp. (NYSE:SNV)',
 'THOR Industries, Inc. (NYSE:THO)',
 'Tapestry, Inc. (NYSE:TPR)',
 'Textron Inc. (NYSE:TXT)',
 'The Boeing Company (NYSE:BA)',
 'The Charles Schwab Corporation (NYSE:SCHW)',
 'The Coca-Cola Company (NYSE:KO)',
 'The Goldman Sachs Group, Inc. (NYSE:GS)',
 'The Interpublic Group of Companies, Inc. (NYSE:IPG)',
 'The PNC Financial Services Group, Inc. (NYSE:PNC)',
 'The Sherwin-Williams Company (NYSE:SHW)',
 'U.S. Bancorp (NYSE:USB)',
 'United Therapeutics Corporation (NasdaqGS:UTHR)',
 'V.F. Corporation (NYSE:VFC)',
 'Vertex Pharmaceuticals Incorporated (NasdaqGS:VRTX)',
 'Vulcan International Corporation (OTCPK:VULC)',
 'Vulcan Materials Company (NYSE:VMC)',
 'Wells Fargo & Company (NYSE:WFC)',
 'Western Digital Corporation (NasdaqGS:WDC)'}

In [27]:
yahoo_names

{'3M Company (NYSE:MMM)',
 'A. O. Smith Corporation (NYSE:AOS)',
 'AMB Financial Corp. (OTCPK:AMFC)',
 'AbbVie Inc. (NYSE:ABBV)',
 'Accredited Solutions, Inc. (OTCPK:ASII)',
 'African Discovery Group, Inc. (OTCPK:AFDG)',
 'Air Products and Chemicals, Inc. (NYSE:APD)',
 'Albemarle Corporation (NYSE:ALB)',
 'Amdocs Limited (NasdaqGS:DOX)',
 'American Airlines Group Inc. (NasdaqGS:AAL)',
 'American International Industries, Inc. (OTCPK:AMIN)',
 'Amgen Inc. (NasdaqGS:AMGN)',
 'Andover Bancorp, Inc. (OTCPK:ANDC)',
 'Apple Inc. (NasdaqGS:AAPL)',
 'Arrow Electronics, Inc. (NYSE:ARW)',
 'Ashland Inc. (NYSE:ASH)',
 'Automatic Data Processing, Inc. (NasdaqGS:ADP)',
 'Avnet, Inc. (NasdaqGS:AVT)',
 'Axalta Coating Systems Ltd. (NYSE:AXTA)',
 'BOK Financial Corporation (NasdaqGS:BOKF)',
 'Bank of America Corporation (NYSE:BAC)',
 'BioMarin Pharmaceutical Inc. (NasdaqGS:BMRN)',
 'Biogen Inc. (NasdaqGS:BIIB)',
 'Booz Allen Hamilton Holding Corporation (NYSE:BAH)',
 'BorgWarner Inc. (NYSE:BWA)',
 'CDW Corporation (NasdaqGS:CDW)',
 'CF Industries Holdings, Inc. (NYSE:CF)',
 'California International Bank, N.A. (OTCPK:CAIB)',
 'CannaGrow Holdings, Inc (OTCPK:CGRW)',
 'Carlisle Companies Incorporated (NYSE:CSL)',
 'Celanese Corporation (NYSE:CE)',
 'Charter Communications, Inc. (NasdaqGS:CHTR)',
 'Cintas Corporation (NasdaqGS:CTAS)',
 'Citizens Financial Group, Inc. (NYSE:CFG)',
 'Cognizant Technology Solutions Corporation (NasdaqGS:CTSH)',
 'Comcast Corporation (NasdaqGS:CMCSA)',
 'Comerica Incorporated (NYSE:CMA)',
 'Commerce Bancshares, Inc. (NasdaqGS:CBSH)',
 'Constellation Brands, Inc. (NYSE:STZ)',
 'Copart, Inc. (NasdaqGS:CPRT)',
 'Correlate Energy Corp. (OTCPK:CIPI)',
 'Cullen/Frost Bankers, Inc. (NYSE:CFR)',
 'DXC Technology Company (NYSE:DXC)',
 'Dell Technologies Inc. (NYSE:DELL)',
 'Delta Air Lines, Inc. (NYSE:DAL)',
 'DuPont de Nemours, Inc. (NYSE:DD)',
 'Eagle Materials Inc. (NYSE:EXP)',
 'East West Bancorp, Inc. (NasdaqGS:EWBC)',
 'Eastman Chemical Company (NYSE:EMN)',
 'Ecolab Inc. (NYSE:ECL)',
 'Ecom Products Group Corporation (OTCPK:EPGC)',
 'Equifax Inc. (NYSE:EFX)',
 'Exchange Bankshares, Inc. (OTCPK:EXCH)',
 'FMC Corporation (NYSE:FMC)',
 'FNB, Inc. (OTCPK:FIDS)',
 'Fifth Third Bancorp (NasdaqGS:FITB)',
 'First National Bank Alaska (OTCPK:FBAK)',
 'First Republic Bank (OTCPK:FRCB)',
 'Ford Motor Company (NYSE:F)',
 'Fortune Brands Innovations, Inc. (NYSE:FBIN)',
 'Freedom Financial Holdings, Inc. (OTCPK:FDVA)',
 'G6 Materials Corp. (TSXV:GGG)',
 'Gartner, Inc. (NYSE:IT)',
 'General Dynamics Corporation (NYSE:GD)',
 'General Electric Company (NYSE:GE)',
 'General Motors Company (NYSE:GM)',
 'Gentex Corporation (NasdaqGS:GNTX)',
 'Genuine Marketing Group Inc. (OTCPK:GMGZ)',
 'Gilead Sciences, Inc. (NasdaqGS:GILD)',
 'HP Inc. (NYSE:HPQ)',
 'Hanesbrands Inc. (NYSE:HBI)',
 'Harley-Davidson, Inc. (NYSE:HOG)',
 'Harleysville Financial Corporation (OTCPK:HARL)',
 'Hewlett Packard Enterprise Company (NYSE:HPE)',
 'Honeywell International Inc. (NasdaqGS:HON)',
 'Huntington Bancshares Incorporated (NasdaqGS:HBAN)',
 'Huntsman Corporation (NYSE:HUN)',
 'Incyte Corporation (NasdaqGS:INCY)',
 'International Business Machines Corporation (NYSE:IBM)',
 'International Flavors & Fragrances Inc. (NYSE:IFF)',
 'Ionis Pharmaceuticals, Inc. (NasdaqGS:IONS)',
 'Itaconix plc (AIM:ITX)',
 'JPMorgan Chase & Co. (NYSE:JPM)',
 'Jefferies Financial Group Inc. (NYSE:JEF)',
 'KeyCorp (NYSE:KEY)',
 'Lear Corporation (NYSE:LEA)',
 'Leidos Holdings, Inc. (NYSE:LDOS)',
 'Lennox International Inc. (NYSE:LII)',
 'Lockheed Martin Corporation (NYSE:LMT)',
 'LyondellBasell Industries N.V. (NYSE:LYB)',
 'M&T Bank Corporation (NYSE:MTB)',
 'ManpowerGroup Inc. (NYSE:MAN)',
 'Martin Marietta Materials, Inc. (NYSE:MLM)',
 'Masco Corporation (NYSE:MAS)',
 'Molson Coors Beverage Company (NYSE:TAP)',
 'Monster Beverage Corporation (NasdaqGS:MNST)',
 'Morgan Stanley (NYSE:MS)',
 'NetApp, Inc. (NasdaqGS:NTAP)',
 'New York Community Bancorp, Inc. (NYSE:NYCB)',
 'Nitches Inc. (OTCPK:NICH)',
 'Northrop Grumman Corporation (NYSE:NOC)',
 'Omnicom Group Inc. (NYSE:OMC)',
 'Owens Corning (NYSE:OC)',
 'PASSUR Aerospace, Inc. (OTCPK:PSSR)',
 'PVH Corp. (NYSE:PVH)',
 'Paramount Global (NasdaqGS:PARA)',
 'Paychex, Inc. (NasdaqGS:PAYX)',
 'PepsiCo, Inc. (NasdaqGS:PEP)',
 'Ralph Lauren Corporation (NYSE:RL)',
 'Raymond James Financial, Inc. (NYSE:RJF)',
 'Regeneron Pharmaceuticals, Inc. (NasdaqGS:REGN)',
 'Regions Financial Corporation (NYSE:RF)',
 'Robert Half Inc. (NYSE:RHI)',
 'Service Corporation International (NYSE:SCI)',
 'Signature Bank (OTCPK:SBNY)',
 'Sirius XM Holdings Inc. (NasdaqGS:SIRI)',
 'Southwest Airlines Co. (NYSE:LUV)',
 'Spirit AeroSystems Holdings, Inc. (NYSE:SPR)',
 'Synovus Financial Corp. (NYSE:SNV)',
 'THOR Industries, Inc. (NYSE:THO)',
 'Tanke Biosciences Corporation (OTCPK:TNBI)',
 'Tapestry, Inc. (NYSE:TPR)',
 'Terra Energy Resources, Ltd. (OTCPK:TRRE)',
 'Tesla, Inc. (NasdaqGS:TSLA)',
 'Textron Inc. (NYSE:TXT)',
 'The Boeing Company (NYSE:BA)',
 'The Charles Schwab Corporation (NYSE:SCHW)',
 'The Coca-Cola Company (NYSE:KO)',
 'The Goldman Sachs Group, Inc. (NYSE:GS)',
 'The Interpublic Group of Companies, Inc. (NYSE:IPG)',
 'The PNC Financial Services Group, Inc. (NYSE:PNC)',
 'The Sherwin-Williams Company (NYSE:SHW)',
 'TransDigm Group Incorporated (NYSE:TDG)',
 'U.S. Bancorp (NYSE:USB)',
 'Under Armour, Inc. (NYSE:UAA)',
 'United Airlines Holdings, Inc. (NasdaqGS:UAL)',
 'United Therapeutics Corporation (NasdaqGS:UTHR)',
 'V.F. Corporation (NYSE:VFC)',
 'Verisk Analytics, Inc. (NasdaqGS:VRSK)',
 'Vertex Pharmaceuticals Incorporated (NasdaqGS:VRTX)',
 'Vestiage, Inc. (OTCPK:VEST)',
 'Vulcan International Corporation (OTCPK:VULC)',
 'Vulcan Materials Company (NYSE:VMC)',
 'Wells Fargo & Company (NYSE:WFC)',
 'Western Digital Corporation (NasdaqGS:WDC)',
 'Westlake Corporation (NYSE:WLK)'}

In [28]:
merged_data.shape

(26135, 22)

In [29]:
merged_data.drop(['Open', 'High', 'Low', 'Close', 'Ticker', 'Country'], axis=1, inplace=True)
merged_data.set_index('Date', inplace=True)

In [30]:
merged_data.to_csv('./Data/finance_laborstats.csv')

In [31]:
 start_dates[(start_dates >= '2001-01-01') & (start_dates <= '2001-12-31')].index.shape

(99,)

In [32]:
uslaborstats_factors

,Date,average_hourly_earnings,Interpolated Employment Cost Index,payroll_employment,PPIACO,Interpolated Labor Productivity,unemployment_rate,Interpolated HDI
0,2000-01-01,NaN,NaN,131009.0,128.300,71.263000,4.0,0.891000
1,2000-02-01,NaN,NaN,131120.0,129.800,72.157779,4.1,0.891197
2,2000-03-01,NaN,NaN,131604.0,130.800,72.566531,4.0,0.891361
3,2000-04-01,NaN,NaN,131883.0,130.700,72.691000,3.8,0.891495
4,2000-05-01,NaN,NaN,132106.0,131.600,72.645467,4.0,0.891604
...,...,...,...,...,...,...,...,...
271,2022-08-01,32.25,154.106994,153281.0,269.546,108.899422,3.6,0.926084
272,2022-09-01,32.49,154.708683,153536.0,267.898,109.127276,3.5,0.925427
273,2022-10-01,32.87,155.300000,153897.0,265.061,109.252000,3.6,0.924608
274,2022-11-01,32.71,155.926793,154155.0,263.157,109.216372,3.6,0.923619
275,2022-12-01,32.86,156.524483,154291.0,257.897,109.119134,3.5,0.922449

In [33]:
uslaborstats_factors.set_index('Date', inplace=True)
uslaborstats_factors.to_csv('./Data/uslaborstats_factors.csv')