## DATASETS
Productivity - Quaterly data <br>
Employment Cost index - Quaterly data <br>
Producer Price Index - Monthly data <br>
Average Hourly earnings - Monthly data <br>
Payroll employment - Monthly data <br>
Unemployment rate - Monthly data <br>
PPI index - Monthly data <br>

In [1]:
import pandas as pd
import numpy as np

In [2]:
files = {
    "average_hourly_earnings": "average_hourly_earnings.xlsx",
    "employment_cost_index_v1": "Employment Cost Index.xlsx",
    "payroll_employment": "payroll_employment.xlsx",
    "ppi_index_allcommodities": "PPI_index_allcomodities.csv",
    #"producer_price_index_ppi_final_demand": "ProducerPriceIndex_PPI_FinalDemand.xlsx",
    "productivity": "Productivity.xlsx",
    "unemployment_rate": "Unemployment_rate.xlsx",
}

In [3]:
dataframes = {}
for key, file_path in files.items():
    if file_path.endswith('.csv'):
        dataframes[key] = pd.read_csv(file_path)
    else:
        dataframes[key] = pd.read_excel(file_path)

In [4]:
dataframes

{'average_hourly_earnings':     Year   Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov  \
 0   2006   NaN   NaN   NaN  0.10 -0.02  0.10  0.06  0.03  0.09  0.02  0.06
 1   2007  0.02  0.09  0.05  0.05  0.06  0.11  0.00  0.05  0.04  0.02  0.06
 2   2008  0.03  0.06  0.10  0.02  0.09  0.04  0.09  0.10  0.02  0.04  0.11
 3   2009  0.02  0.03  0.07  0.03  0.02  0.03  0.04  0.05  0.04  0.03  0.05
 4   2010  0.05  0.04  0.01  0.03  0.04  0.00  0.06  0.03  0.05  0.07 -0.01
 5   2011  0.10  0.01  0.00  0.04  0.07  0.03  0.09 -0.03  0.05  0.08 -0.01
 6   2012  0.03  0.03  0.08  0.03  0.01  0.06  0.04 -0.02  0.09 -0.01  0.07
 7   2013  0.02  0.03  0.02  0.07  0.02  0.07  0.02  0.04  0.04  0.03  0.07
 8   2014  0.05  0.10 -0.01  0.02  0.06  0.06  0.02  0.06  0.01  0.03  0.08
 9   2015  0.13  0.04  0.07  0.03  0.08  0.00  0.03  0.09  0.02  0.08  0.06
 10  2016  0.14  0.00  0.07  0.08  0.05  0.04  0.07  0.03  0.05  0.12  0.01
 11  2017  0.08  0.07  0.04  0.06  0.04  0.05  0.10  0.02  0.11  0.00  0.04
 12  2018  0.12  0.02  0.11  0.05  0.07  0.06  0.05  0.11  0.12  0.05  0.07
 13  2019  0.04  0.12  0.09 -0.02  0.08  0.09  0.07  0.11  0.04  0.06  0.12
 14  2020  0.07  0.11  0.22  1.24 -0.29 -0.34  0.00  0.10  0.03  0.03  0.09
 15  2021  0.03  0.13  0.00  0.15  0.18  0.15  0.11  0.12  0.18  0.20  0.09
 16  2022  0.23  0.02  0.19  0.11  0.13  0.12  0.13  0.11  0.10  0.16  0.13
 17  2023  0.13  0.08  0.16  0.13  0.10  0.16  0.14  0.07  0.10  0.09  0.13
 18  2024  0.18  0.05   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

      Dec
 0   0.08
 1   0.05
 2   0.07
 3   0.01
 4   0.03
 5   0.03
 6   0.10
 7   0.02
 8  -0.04
 9  -0.01
 10  0.02
 11  0.08
 12  0.11
 13  0.02
 14  0.27
 15  0.16
 16  0.11
 17  0.11
 18   NaN  ,
 'employment_cost_index_v1':     Year Period  Estimate Value  Standard Error
 0   2013   Qtr1             1.9             0.1
 1   2013   Qtr2             1.9             0.1
 2   2013   Qtr3             1.9             0.1
 3   2013   Qtr4             2.0             0.1
 4   2014   Qtr1             1.8             0.1
 5   2014   Qtr2             2.0             0.1
 6   2014   Qtr3             2.2             0.1
 7   2014   Qtr4             2.2             0.1
 8   2015   Qtr1             2.6             0.2
 9   2015   Qtr2             2.0             0.1
 10  2015   Qtr3             2.0             0.1
 11  2015   Qtr4             2.0             0.1
 12  2016   Qtr1             1.9             0.2
 13  2016   Qtr2             2.3             0.1
 14  2016   Qtr3             2.3             0.1
 15  2016   Qtr4             2.2             0.1
 16  2017   Qtr1             2.4             0.1
 17  2017   Qtr2             2.4             0.1
 18  2017   Qtr3             2.5             0.1
 19  2017   Qtr4             2.6             0.1
 20  2018   Qtr1             2.7             0.1
 21  2018   Qtr2             2.8             0.1
 22  2018   Qtr3             2.8             0.1
 23  2018   Qtr4             2.9             0.1
 24  2019   Qtr1             2.8             0.1
 25  2019   Qtr2             2.7             0.1
 26  2019   Qtr3             2.8             0.1
 27  2019   Qtr4             2.7             0.1
 28  2020   Qtr1             2.8             0.1
 29  2020   Qtr2             2.7             0.1
 30  2020   Qtr3             2.4             0.1
 31  2020   Qtr4             2.5             0.1
 32  2021   Qtr1             2.6             0.2
 33  2021   Qtr2             2.9             0.1
 34  2021   Qtr3             3.7             0.2
 35  2021   Qtr4             4.0             0.1
 36  2022   Qtr1             4.5             0.2
 37  2022   Qtr2             5.1             0.1
 38  2022   Qtr3             5.0             0.2
 39  2022   Qtr4             5.1             0.1
 40  2023   Qtr1             4.8             0.1
 41  2023   Qtr2             4.5             0.1
 42  2023   Qtr3             4.3             0.1
 43  2023   Qtr4             4.2             0.1,
 'payroll_employment':     Year    Jan  Feb     Mar      Apr     May     Jun     Jul     Aug     Sep  \
 0   1939    NaN  177   180.0   -186.0   205.0   203.0   -83.0   244.0   368.0
 1   1940   61.0  112   110.0   -124.0   178.0    98.0   -35.0   410.0   458.0
 2   1941  307.0  362   249.0    376.0   714.0   468.0   487.0   407.0   291.0
 3   1942  243.0  165   423.0    417.0   419.0   258.0   443.0   516.0   271.0
 4   1943  257.0  221   159.0     95.0   -51.0   185.0   -81.0  -154.0   -54.0
 ..   ...    ...  ...     ...      ...     ...     ...     ...     ...     ...
 81  2020  253.0  264 -1411.0 -20477.0  2619.0  4615.0  1585.0  1534.0  1046.0
 82  2021  398.0  527   831.0    319.0   451.0   778.0   939.0   465.0   480.0
 83  2022  251.0  862   494.0    272.0   286.0   420.0   690.0   243.0   255.0
 84  2023  482.0  287   146.0    278.0   303.0   240.0   184.0   210.0   246.0
 85  2024  229.0  275     NaN      NaN     NaN     NaN     NaN     NaN     NaN

       Oct    Nov    Dec
 0   380.0   59.0   72.0
 1   457.0  402.0  505.0
 2   114.0   75.0   80.0
 3   256.0  159.0  241.0
 4   183.0  146.0  -75.0
 ..    ...    ...    ...
 81  673.0  268.0 -243.0
 82  860.0  631.0  566.0
 83  361.0  258.0  136.0
 84  165.0  182.0  290.0
 85    NaN    NaN    NaN

 [86 rows x 13 columns],
 'ppi_index_allcommodities':             DATE   PPIACO
 0     01/01/1913   12.100
 1     01/02/1913   12.000
 2     01/03/1913   12.000
 3     01/04/1913   12.000
 4     01/05/1913   11.900
 ...          ...      ...
 1329  01/10/2023  255.192
 1330  01/11/2023  252.926
 1331  01/12/2023  249.892
 1332  01/01/2024  251.328
 1333  01/02/2024  255.510

 [1334 rows x 2 columns],
 'productivity':     Year  Qtr1  Qtr2  Qtr3  Qtr4
 0   2000  -1.6   8.3  -0.3   4.2
 1   2001  -2.2   7.1   2.3   5.1
 2   2002   8.7   0.6   3.2  -0.6
 3   2003   4.0   5.4   9.2   3.8
 4   2004  -1.2   4.2   1.9   1.7
 5   2005   4.4  -0.4   2.8   0.0
 6   2006   2.8  -0.4  -0.8   2.6
 7   2007   1.4   1.2   3.5   3.1
 8   2008  -2.6   4.8   1.0  -2.1
 9   2009   4.7   9.5   6.5   5.5
 10  2010   0.4   1.3   2.6   1.3
 11  2011  -2.9   0.3  -0.8   1.9
 12  2012   2.0   2.0  -1.1  -1.5
 13  2013   1.9  -0.9   2.9   3.9
 14  2014  -3.3   2.7   3.4  -1.4
 15  2015   2.3   2.0   1.1  -2.4
 16  2016   1.7   0.2   1.4   2.7
 17  2017   0.7   0.2   3.2   3.0
 18  2018   1.5   0.0   1.2  -0.6
 19  2019   4.6   2.6   4.2   3.6
 20  2020  -0.3  24.2   3.0  -3.9
 21  2021   2.3  -0.3  -2.4   2.5
 22  2022  -5.5  -4.0   0.0   2.1
 23  2023  -0.6   3.1   4.7   3.2,
 'unemployment_rate':     Year  Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
 0   1948  3.4  3.8  4.0   3.9   3.5   3.6   3.6  3.9  3.8  3.7  3.8  4.0
 1   1949  4.3  4.7  5.0   5.3   6.1   6.2   6.7  6.8  6.6  7.9  6.4  6.6
 2   1950  6.5  6.4  6.3   5.8   5.5   5.4   5.0  4.5  4.4  4.2  4.2  4.3
 3   1951  3.7  3.4  3.4   3.1   3.0   3.2   3.1  3.1  3.3  3.5  3.5  3.1
 4   1952  3.2  3.1  2.9   2.9   3.0   3.0   3.2  3.4  3.1  3.0  2.8  2.7
 ..   ...  ...  ...  ...   ...   ...   ...   ...  ...  ...  ...  ...  ...
 72  2020  3.6  3.5  4.4  14.8  13.2  11.0  10.2  8.4  7.8  6.8  6.7  6.7
 73  2021  6.4  6.2  6.1   6.1   5.8   5.9   5.4  5.1  4.7  4.5  4.1  3.9
 74  2022  4.0  3.8  3.6   3.7   3.6   3.6   3.5  3.6  3.5  3.6  3.6  3.5
 75  2023  3.4  3.6  3.5   3.4   3.7   3.6   3.5  3.8  3.8  3.8  3.7  3.7
 76  2024  3.7  3.9  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN

 [77 rows x 13 columns]}

In [5]:
yahoo_finance = pd.read_csv('./output_us_yfinance_v2_mod.csv')

In [6]:
for df in dataframes:
    print(dataframes[df].describe())

              Year        Jan        Feb        Mar        Apr        May  \
count    19.000000  18.000000  18.000000  17.000000  18.000000  18.000000
mean   2015.000000   0.081667   0.057222   0.074706   0.123333   0.043889
std       5.627314   0.061763   0.039676   0.066719   0.281968   0.095063
min    2006.000000   0.020000   0.000000  -0.010000  -0.020000  -0.290000
25%    2010.500000   0.030000   0.030000   0.020000   0.030000   0.025000
50%    2015.000000   0.060000   0.045000   0.070000   0.050000   0.060000
75%    2019.500000   0.127500   0.087500   0.100000   0.095000   0.080000
max    2024.000000   0.230000   0.130000   0.220000   1.240000   0.180000

             Jun        Jul        Aug        Sep        Oct        Nov  \
count  18.000000  18.000000  18.000000  18.000000  18.000000  18.000000
mean    0.046111   0.062222   0.059444   0.065556   0.061111   0.067778
std     0.106613   0.041665   0.045176   0.044354   0.054653   0.042086
min    -0.340000   0.000000  -0.030000   0.010000  -0.010000  -0.010000
25%     0.032500   0.032500   0.030000   0.040000   0.030000   0.052500
50%     0.060000   0.060000   0.055000   0.050000   0.045000   0.070000
75%     0.097500   0.090000   0.100000   0.097500   0.080000   0.090000
max     0.160000   0.140000   0.120000   0.180000   0.200000   0.130000

             Dec
count  18.000000
mean    0.067778
std     0.071583
min    -0.040000
25%     0.020000
50%     0.060000
75%     0.107500
max     0.270000
              Year  Estimate Value  Standard Error
count    44.000000       44.000000       44.000000
mean   2018.000000        2.872727        0.113636
std       3.198837        0.979882        0.034714
min    2013.000000        1.800000        0.100000
25%    2015.000000        2.200000        0.100000
50%    2018.000000        2.600000        0.100000
75%    2021.000000        2.900000        0.100000
max    2023.000000        5.100000        0.200000
              Year         Jan         Feb          Mar           Apr  \
count    86.000000   85.000000   86.000000    85.000000     85.000000
mean   1981.500000  129.764706  138.441860   142.047059   -112.494118
std      24.969982  214.490406  242.362616   295.397469   2247.183124
min    1939.000000 -782.000000 -752.000000 -1411.000000 -20477.000000
25%    1960.250000   19.000000   22.000000    59.000000    -32.000000
50%    1981.500000  161.000000  200.000000   150.000000    171.000000
75%    2002.750000  253.000000  268.500000   272.000000    281.000000
max    2024.000000  719.000000  862.000000   951.000000    718.000000

               May          Jun          Jul          Aug          Sep  \
count    85.000000    85.000000    85.000000    85.000000    85.000000
mean    175.105882   185.741176   134.058824   153.423529   130.658824
std     335.833399   526.768793   275.974393   266.331979   322.536988
min    -429.000000  -467.000000  -631.000000  -468.000000 -1959.000000
25%      26.000000    23.000000   -30.000000     3.000000    31.000000
50%     167.000000   172.000000   123.000000   149.000000   147.000000
75%     280.000000   258.000000   249.000000   244.000000   249.000000
max    2619.000000  4615.000000  1585.000000  1534.000000  1118.000000

              Oct         Nov         Dec
count   85.000000   85.000000   85.000000
mean   137.870588  155.070588  133.211765
std    232.848755  213.126488  210.091482
min   -838.000000 -748.000000 -698.000000
25%     29.000000   70.000000   84.000000
50%    173.000000  201.000000  159.000000
75%    268.000000  284.000000  264.000000
max    860.000000  631.000000  566.000000
            PPIACO
count  1334.000000
mean     76.742127
std      68.800022
min      10.300000
25%      18.000000
50%      34.250000
75%     124.875000
max     280.251000
              Year       Qtr1       Qtr2       Qtr3       Qtr4
count    24.000000  24.000000  24.000000  24.000000  24.000000
mean   2011.500000   0.966667   3.070833   2.195833   1.570833
std       7.071068   3.170882   5.482183   2.554192   2.548227
min    2000.000000  -5.500000  -4.000000  -2.400000  -3.900000
25%    2005.750000  -1.300000   0.150000   0.750000  -0.600000
50%    2011.500000   1.450000   1.650000   2.450000   2.300000
75%    2017.250000   2.425000   4.350000   3.250000   3.300000
max    2023.000000   8.700000  24.200000   9.200000   5.500000
              Year        Jan        Feb        Mar        Apr        May  \
count    77.000000  77.000000  77.000000  76.000000  76.000000  76.000000
mean   1986.000000   5.633766   5.631169   5.667105   5.805263   5.776316
std      22.371857   1.622183   1.639501   1.649193   1.972605   1.897990
min    1948.000000   2.900000   2.600000   2.600000   2.700000   2.500000
25%    1967.000000   4.300000   4.400000   4.400000   4.475000   4.400000
50%    1986.000000   5.600000   5.400000   5.450000   5.500000   5.600000
75%    2005.000000   6.600000   6.600000   6.700000   6.925000   7.025000
max    2024.000000  10.400000  10.400000  10.300000  14.800000  13.200000

             Jun        Jul        Aug        Sep        Oct        Nov  \
count  76.000000  76.000000  76.000000  76.000000  76.000000  76.000000
mean    5.761842   5.735526   5.705263   5.678947   5.680263   5.665789
std     1.782954   1.740016   1.674586   1.660146   1.659720   1.654695
min     2.500000   2.600000   2.700000   2.900000   3.000000   2.800000
25%     4.500000   4.475000   4.475000   4.400000   4.375000   4.275000
50%     5.450000   5.500000   5.550000   5.500000   5.500000   5.600000
75%     6.925000   6.900000   6.825000   6.725000   6.800000   6.625000
max    11.000000  10.200000   9.800000  10.100000  10.400000  10.800000

             Dec
count  76.000000
mean    5.667105
std     1.645470
min     2.700000
25%     4.375000
50%     5.500000
75%     6.600000
max    10.800000

In [7]:
yahoo_finance.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Environment Score,Social Score,Governance Score,Company Name,Industry Group,Primary Sector,Country,Ticker
0,01/10/2014,1.20,1.70,1.00,1.69,1.69,45200,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
1,01/11/2014,1.68,2.00,1.33,2.00,2.00,17800,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
2,01/12/2014,1.99,2.10,1.69,2.09,2.09,10700,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
3,01/01/2015,2.09,2.10,1.95,1.95,1.95,4000,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG
4,01/02/2015,1.95,1.95,1.44,1.44,1.44,100,NaN,NaN,NaN,Adamant DRI Processing and Minerals Group (OTC...,Advertising,Communication Services,United States,ADMG

In [8]:
df = dataframes['employment_cost_index_v1']

quarter_to_month = {
    "Qtr1": "01",
    "Qtr2": "04",
    "Qtr3": "07",
    "Qtr4": "10"
}

df['Start Month'] = df['Period'].map(quarter_to_month)

df['Date'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['Start Month'] + '-01')

df.set_index('Date', inplace=True)

df.drop(['Year', 'Period', 'Start Month'], axis=1, inplace=True)

monthly_data = df.resample('M').mean().interpolate(method='linear')

monthly_data.reset_index(inplace=True)

monthly_data['Date'] = monthly_data['Date'].dt.to_period('M').dt.to_timestamp()

monthly_data.set_index('Date', inplace=True)

print(monthly_data.head(36))

            Estimate Value  Standard Error
Date
2013-01-01        1.900000        0.100000
2013-02-01        1.900000        0.100000
2013-03-01        1.900000        0.100000
2013-04-01        1.900000        0.100000
2013-05-01        1.900000        0.100000
2013-06-01        1.900000        0.100000
2013-07-01        1.900000        0.100000
2013-08-01        1.933333        0.100000
2013-09-01        1.966667        0.100000
2013-10-01        2.000000        0.100000
2013-11-01        1.933333        0.100000
2013-12-01        1.866667        0.100000
2014-01-01        1.800000        0.100000
2014-02-01        1.866667        0.100000
2014-03-01        1.933333        0.100000
2014-04-01        2.000000        0.100000
2014-05-01        2.066667        0.100000
2014-06-01        2.133333        0.100000
2014-07-01        2.200000        0.100000
2014-08-01        2.200000        0.100000
2014-09-01        2.200000        0.100000
2014-10-01        2.200000        0.100000
2014-11-01        2.333333        0.133333
2014-12-01        2.466667        0.166667
2015-01-01        2.600000        0.200000
2015-02-01        2.400000        0.166667
2015-03-01        2.200000        0.133333
2015-04-01        2.000000        0.100000
2015-05-01        2.000000        0.100000
2015-06-01        2.000000        0.100000
2015-07-01        2.000000        0.100000
2015-08-01        2.000000        0.100000
2015-09-01        2.000000        0.100000
2015-10-01        2.000000        0.100000
2015-11-01        1.966667        0.133333
2015-12-01        1.933333        0.166667

In [9]:
dataframes['employment_cost_index_v1'] = monthly_data

In [10]:
dataframes['productivity']

    Year  Qtr1  Qtr2  Qtr3  Qtr4
0   2000  -1.6   8.3  -0.3   4.2
1   2001  -2.2   7.1   2.3   5.1
2   2002   8.7   0.6   3.2  -0.6
3   2003   4.0   5.4   9.2   3.8
4   2004  -1.2   4.2   1.9   1.7
5   2005   4.4  -0.4   2.8   0.0
6   2006   2.8  -0.4  -0.8   2.6
7   2007   1.4   1.2   3.5   3.1
8   2008  -2.6   4.8   1.0  -2.1
9   2009   4.7   9.5   6.5   5.5
10  2010   0.4   1.3   2.6   1.3
11  2011  -2.9   0.3  -0.8   1.9
12  2012   2.0   2.0  -1.1  -1.5
13  2013   1.9  -0.9   2.9   3.9
14  2014  -3.3   2.7   3.4  -1.4
15  2015   2.3   2.0   1.1  -2.4
16  2016   1.7   0.2   1.4   2.7
17  2017   0.7   0.2   3.2   3.0
18  2018   1.5   0.0   1.2  -0.6
19  2019   4.6   2.6   4.2   3.6
20  2020  -0.3  24.2   3.0  -3.9
21  2021   2.3  -0.3  -2.4   2.5
22  2022  -5.5  -4.0   0.0   2.1
23  2023  -0.6   3.1   4.7   3.2

In [11]:
df_prod = dataframes['productivity']
value_vars = df_prod.columns.tolist()[1:] # ["Qtr1", "Qtr2", "Qtr3", "Qtr4"]
prod_columns = ['Year', 'Period', 'Productivity']
df_prod_long = pd.melt(df_prod, id_vars=["Year"], value_vars=value_vars,
                    var_name="Period", value_name="Productivity")

print(df_prod_long)

    Year Period  Productivity
0   2000   Qtr1          -1.6
1   2001   Qtr1          -2.2
2   2002   Qtr1           8.7
3   2003   Qtr1           4.0
4   2004   Qtr1          -1.2
..   ...    ...           ...
91  2019   Qtr4           3.6
92  2020   Qtr4          -3.9
93  2021   Qtr4           2.5
94  2022   Qtr4           2.1
95  2023   Qtr4           3.2

[96 rows x 3 columns]

In [12]:
dataframes['productivity']

    Year  Qtr1  Qtr2  Qtr3  Qtr4
0   2000  -1.6   8.3  -0.3   4.2
1   2001  -2.2   7.1   2.3   5.1
2   2002   8.7   0.6   3.2  -0.6
3   2003   4.0   5.4   9.2   3.8
4   2004  -1.2   4.2   1.9   1.7
5   2005   4.4  -0.4   2.8   0.0
6   2006   2.8  -0.4  -0.8   2.6
7   2007   1.4   1.2   3.5   3.1
8   2008  -2.6   4.8   1.0  -2.1
9   2009   4.7   9.5   6.5   5.5
10  2010   0.4   1.3   2.6   1.3
11  2011  -2.9   0.3  -0.8   1.9
12  2012   2.0   2.0  -1.1  -1.5
13  2013   1.9  -0.9   2.9   3.9
14  2014  -3.3   2.7   3.4  -1.4
15  2015   2.3   2.0   1.1  -2.4
16  2016   1.7   0.2   1.4   2.7
17  2017   0.7   0.2   3.2   3.0
18  2018   1.5   0.0   1.2  -0.6
19  2019   4.6   2.6   4.2   3.6
20  2020  -0.3  24.2   3.0  -3.9
21  2021   2.3  -0.3  -2.4   2.5
22  2022  -5.5  -4.0   0.0   2.1
23  2023  -0.6   3.1   4.7   3.2

In [13]:
df_prod_long['Start Month'] = df_prod_long['Period'].map(quarter_to_month)

df_prod_long['Date'] = pd.to_datetime(df_prod_long['Year'].astype(str) + '-' + df_prod_long['Start Month'] + '-01')

df_prod_long.set_index('Date', inplace=True)

df_prod_long.drop(['Year', 'Period', 'Start Month'], axis=1, inplace=True)

monthly_data = df_prod_long.resample('M').mean().interpolate(method='linear')

monthly_data.reset_index(inplace=True)

monthly_data['Date'] = monthly_data['Date'].dt.to_period('M').dt.to_timestamp()

monthly_data.set_index('Date', inplace=True)

print(monthly_data.head(36))
dataframes['productivity'] = monthly_data

            Productivity
Date
2000-01-01     -1.600000
2000-02-01      1.700000
2000-03-01      5.000000
2000-04-01      8.300000
2000-05-01      5.433333
2000-06-01      2.566667
2000-07-01     -0.300000
2000-08-01      1.200000
2000-09-01      2.700000
2000-10-01      4.200000
2000-11-01      2.066667
2000-12-01     -0.066667
2001-01-01     -2.200000
2001-02-01      0.900000
2001-03-01      4.000000
2001-04-01      7.100000
2001-05-01      5.500000
2001-06-01      3.900000
2001-07-01      2.300000
2001-08-01      3.233333
2001-09-01      4.166667
2001-10-01      5.100000
2001-11-01      6.300000
2001-12-01      7.500000
2002-01-01      8.700000
2002-02-01      6.000000
2002-03-01      3.300000
2002-04-01      0.600000
2002-05-01      1.466667
2002-06-01      2.333333
2002-07-01      3.200000
2002-08-01      1.933333
2002-09-01      0.666667
2002-10-01     -0.600000
2002-11-01      0.933333
2002-12-01      2.466667

In [14]:
dataframes

{'average_hourly_earnings':     Year   Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov  \
 0   2006   NaN   NaN   NaN  0.10 -0.02  0.10  0.06  0.03  0.09  0.02  0.06
 1   2007  0.02  0.09  0.05  0.05  0.06  0.11  0.00  0.05  0.04  0.02  0.06
 2   2008  0.03  0.06  0.10  0.02  0.09  0.04  0.09  0.10  0.02  0.04  0.11
 3   2009  0.02  0.03  0.07  0.03  0.02  0.03  0.04  0.05  0.04  0.03  0.05
 4   2010  0.05  0.04  0.01  0.03  0.04  0.00  0.06  0.03  0.05  0.07 -0.01
 5   2011  0.10  0.01  0.00  0.04  0.07  0.03  0.09 -0.03  0.05  0.08 -0.01
 6   2012  0.03  0.03  0.08  0.03  0.01  0.06  0.04 -0.02  0.09 -0.01  0.07
 7   2013  0.02  0.03  0.02  0.07  0.02  0.07  0.02  0.04  0.04  0.03  0.07
 8   2014  0.05  0.10 -0.01  0.02  0.06  0.06  0.02  0.06  0.01  0.03  0.08
 9   2015  0.13  0.04  0.07  0.03  0.08  0.00  0.03  0.09  0.02  0.08  0.06
 10  2016  0.14  0.00  0.07  0.08  0.05  0.04  0.07  0.03  0.05  0.12  0.01
 11  2017  0.08  0.07  0.04  0.06  0.04  0.05  0.10  0.02  0.11  0.00  0.04
 12  2018  0.12  0.02  0.11  0.05  0.07  0.06  0.05  0.11  0.12  0.05  0.07
 13  2019  0.04  0.12  0.09 -0.02  0.08  0.09  0.07  0.11  0.04  0.06  0.12
 14  2020  0.07  0.11  0.22  1.24 -0.29 -0.34  0.00  0.10  0.03  0.03  0.09
 15  2021  0.03  0.13  0.00  0.15  0.18  0.15  0.11  0.12  0.18  0.20  0.09
 16  2022  0.23  0.02  0.19  0.11  0.13  0.12  0.13  0.11  0.10  0.16  0.13
 17  2023  0.13  0.08  0.16  0.13  0.10  0.16  0.14  0.07  0.10  0.09  0.13
 18  2024  0.18  0.05   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

      Dec
 0   0.08
 1   0.05
 2   0.07
 3   0.01
 4   0.03
 5   0.03
 6   0.10
 7   0.02
 8  -0.04
 9  -0.01
 10  0.02
 11  0.08
 12  0.11
 13  0.02
 14  0.27
 15  0.16
 16  0.11
 17  0.11
 18   NaN  ,
 'employment_cost_index_v1':             Estimate Value  Standard Error
 Date
 2013-01-01        1.900000             0.1
 2013-02-01        1.900000             0.1
 2013-03-01        1.900000             0.1
 2013-04-01        1.900000             0.1
 2013-05-01        1.900000             0.1
 ...                    ...             ...
 2023-06-01        4.366667             0.1
 2023-07-01        4.300000             0.1
 2023-08-01        4.266667             0.1
 2023-09-01        4.233333             0.1
 2023-10-01        4.200000             0.1

 [130 rows x 2 columns],
 'payroll_employment':     Year    Jan  Feb     Mar      Apr     May     Jun     Jul     Aug     Sep  \
 0   1939    NaN  177   180.0   -186.0   205.0   203.0   -83.0   244.0   368.0
 1   1940   61.0  112   110.0   -124.0   178.0    98.0   -35.0   410.0   458.0
 2   1941  307.0  362   249.0    376.0   714.0   468.0   487.0   407.0   291.0
 3   1942  243.0  165   423.0    417.0   419.0   258.0   443.0   516.0   271.0
 4   1943  257.0  221   159.0     95.0   -51.0   185.0   -81.0  -154.0   -54.0
 ..   ...    ...  ...     ...      ...     ...     ...     ...     ...     ...
 81  2020  253.0  264 -1411.0 -20477.0  2619.0  4615.0  1585.0  1534.0  1046.0
 82  2021  398.0  527   831.0    319.0   451.0   778.0   939.0   465.0   480.0
 83  2022  251.0  862   494.0    272.0   286.0   420.0   690.0   243.0   255.0
 84  2023  482.0  287   146.0    278.0   303.0   240.0   184.0   210.0   246.0
 85  2024  229.0  275     NaN      NaN     NaN     NaN     NaN     NaN     NaN

       Oct    Nov    Dec
 0   380.0   59.0   72.0
 1   457.0  402.0  505.0
 2   114.0   75.0   80.0
 3   256.0  159.0  241.0
 4   183.0  146.0  -75.0
 ..    ...    ...    ...
 81  673.0  268.0 -243.0
 82  860.0  631.0  566.0
 83  361.0  258.0  136.0
 84  165.0  182.0  290.0
 85    NaN    NaN    NaN

 [86 rows x 13 columns],
 'ppi_index_allcommodities':             DATE   PPIACO
 0     01/01/1913   12.100
 1     01/02/1913   12.000
 2     01/03/1913   12.000
 3     01/04/1913   12.000
 4     01/05/1913   11.900
 ...          ...      ...
 1329  01/10/2023  255.192
 1330  01/11/2023  252.926
 1331  01/12/2023  249.892
 1332  01/01/2024  251.328
 1333  01/02/2024  255.510

 [1334 rows x 2 columns],
 'productivity':             Productivity
 Date
 2000-01-01     -1.600000
 2000-02-01      1.700000
 2000-03-01      5.000000
 2000-04-01      8.300000
 2000-05-01      5.433333
 ...                  ...
 2023-06-01      4.166667
 2023-07-01      4.700000
 2023-08-01      4.200000
 2023-09-01      3.700000
 2023-10-01      3.200000

 [286 rows x 1 columns],
 'unemployment_rate':     Year  Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
 0   1948  3.4  3.8  4.0   3.9   3.5   3.6   3.6  3.9  3.8  3.7  3.8  4.0
 1   1949  4.3  4.7  5.0   5.3   6.1   6.2   6.7  6.8  6.6  7.9  6.4  6.6
 2   1950  6.5  6.4  6.3   5.8   5.5   5.4   5.0  4.5  4.4  4.2  4.2  4.3
 3   1951  3.7  3.4  3.4   3.1   3.0   3.2   3.1  3.1  3.3  3.5  3.5  3.1
 4   1952  3.2  3.1  2.9   2.9   3.0   3.0   3.2  3.4  3.1  3.0  2.8  2.7
 ..   ...  ...  ...  ...   ...   ...   ...   ...  ...  ...  ...  ...  ...
 72  2020  3.6  3.5  4.4  14.8  13.2  11.0  10.2  8.4  7.8  6.8  6.7  6.7
 73  2021  6.4  6.2  6.1   6.1   5.8   5.9   5.4  5.1  4.7  4.5  4.1  3.9
 74  2022  4.0  3.8  3.6   3.7   3.6   3.6   3.5  3.6  3.5  3.6  3.6  3.5
 75  2023  3.4  3.6  3.5   3.4   3.7   3.6   3.5  3.8  3.8  3.8  3.7  3.7
 76  2024  3.7  3.9  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN

 [77 rows x 13 columns]}

## Now changes need to be done
average_hourly_earnings <br>
Payroll_employment <br>
producer_price_index_ppi_final_demand <br>
unemployment_rate <br>
<br>
These data has columns ['Year', Month 1, Month 2, ......]<br>

and it should be converted to the following format:<br>
Date Unemployment_rate<br>
<Year-Month-01(day)> Rate

In [15]:
df_avg_hr_earnings = dataframes['average_hourly_earnings']
avg_hr_earnings_vars = df_avg_hr_earnings.columns.tolist()[1:] # ["Jan", "Feb", "Mar", "Apr".....]
prod_columns = ['Year', 'Month', 'Average Hourly Earnings']
df_avg_hr_earnings_long = pd.melt(df_avg_hr_earnings, id_vars=["Year"], value_vars=avg_hr_earnings_vars,
                    var_name="Month", value_name="Average Hourly Earnings")
df_avg_hr_earnings_long

     Year Month  Average Hourly Earnings
0    2006   Jan                      NaN
1    2007   Jan                     0.02
2    2008   Jan                     0.03
3    2009   Jan                     0.02
4    2010   Jan                     0.05
..    ...   ...                      ...
223  2020   Dec                     0.27
224  2021   Dec                     0.16
225  2022   Dec                     0.11
226  2023   Dec                     0.11
227  2024   Dec                      NaN

[228 rows x 3 columns]

In [16]:
avg_hr_earnings_vars

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [17]:
monthAlphabetical_to_month = {
    "Jan": "01",
    "Feb": "02",
    "Mar": "03",
    "Apr": "04",
    "May": "05",
    "Jun": "06",
    "Jul": "07",
    "Aug": "08",
    "Sep": "09",
    "Oct": "10",
    "Nov": "11",
    "Dec": "12"
}

df_avg_hr_earnings_long['Start Month'] = df_avg_hr_earnings_long['Month'].map(monthAlphabetical_to_month)

df_avg_hr_earnings_long['Date'] = pd.to_datetime(df_avg_hr_earnings_long['Year'].astype(str) + '-' + df_avg_hr_earnings_long['Start Month'] + '-01')

df_avg_hr_earnings_long.set_index('Date', inplace=True)

df_avg_hr_earnings_long.drop(['Year', 'Month', 'Start Month'], axis=1, inplace=True)

monthly_data_avg_hr_earnings_long = df_avg_hr_earnings_long.resample('M').mean().interpolate(method='linear')

monthly_data_avg_hr_earnings_long.reset_index(inplace=True)

monthly_data_avg_hr_earnings_long['Date'] = monthly_data_avg_hr_earnings_long['Date'].dt.to_period('M').dt.to_timestamp()

monthly_data_avg_hr_earnings_long.set_index('Date', inplace=True)

print(monthly_data_avg_hr_earnings_long.head(36))

            Average Hourly Earnings
Date
2006-01-01                      NaN
2006-02-01                      NaN
2006-03-01                      NaN
2006-04-01                     0.10
2006-05-01                    -0.02
2006-06-01                     0.10
2006-07-01                     0.06
2006-08-01                     0.03
2006-09-01                     0.09
2006-10-01                     0.02
2006-11-01                     0.06
2006-12-01                     0.08
2007-01-01                     0.02
2007-02-01                     0.09
2007-03-01                     0.05
2007-04-01                     0.05
2007-05-01                     0.06
2007-06-01                     0.11
2007-07-01                     0.00
2007-08-01                     0.05
2007-09-01                     0.04
2007-10-01                     0.02
2007-11-01                     0.06
2007-12-01                     0.05
2008-01-01                     0.03
2008-02-01                     0.06
2008-03-01                     0.10
2008-04-01                     0.02
2008-05-01                     0.09
2008-06-01                     0.04
2008-07-01                     0.09
2008-08-01                     0.10
2008-09-01                     0.02
2008-10-01                     0.04
2008-11-01                     0.11
2008-12-01                     0.07

In [18]:
dataframes['average_hourly_earnings'] = monthly_data_avg_hr_earnings_long

In [19]:
def conv_dataframe_long(key_name):
    df_tmp = dataframes[key_name]
    vars = df_tmp.columns.tolist()[1:] # ["Jan", "Feb", "Mar", "Apr".....]
    columns = ['Year', 'Month', key_name]
    df_long = pd.melt(df_tmp, id_vars=["Year"], value_vars=vars,
                    var_name="Month", value_name=key_name)
    df_long['Start Month'] = df_long['Month'].map(monthAlphabetical_to_month)

    df_long['Date'] = pd.to_datetime(df_long['Year'].astype(str) + '-' + df_long['Start Month'] + '-01')
    
    df_long.set_index('Date', inplace=True)
    
    df_long.drop(['Year', 'Month', 'Start Month'], axis=1, inplace=True)
    
    monthly_df_long = df_long.resample('M').mean().interpolate(method='linear')
    
    monthly_df_long.reset_index(inplace=True)
    
    monthly_df_long['Date'] = monthly_df_long['Date'].dt.to_period('M').dt.to_timestamp()
    
    monthly_df_long.set_index('Date', inplace=True)
    
    return monthly_df_long

In [20]:
dataframes['payroll_employment'] = conv_dataframe_long('payroll_employment')
#dataframes['producer_price_index_ppi_final_demand'] = conv_dataframe_long('producer_price_index_ppi_final_demand')

In [21]:
dataframes['unemployment_rate'] = conv_dataframe_long('unemployment_rate')

In [22]:
dataframes

{'average_hourly_earnings':             Average Hourly Earnings
 Date
 2006-01-01                      NaN
 2006-02-01                      NaN
 2006-03-01                      NaN
 2006-04-01                     0.10
 2006-05-01                    -0.02
 ...                             ...
 2024-08-01                     0.05
 2024-09-01                     0.05
 2024-10-01                     0.05
 2024-11-01                     0.05
 2024-12-01                     0.05

 [228 rows x 1 columns],
 'employment_cost_index_v1':             Estimate Value  Standard Error
 Date
 2013-01-01        1.900000             0.1
 2013-02-01        1.900000             0.1
 2013-03-01        1.900000             0.1
 2013-04-01        1.900000             0.1
 2013-05-01        1.900000             0.1
 ...                    ...             ...
 2023-06-01        4.366667             0.1
 2023-07-01        4.300000             0.1
 2023-08-01        4.266667             0.1
 2023-09-01        4.233333             0.1
 2023-10-01        4.200000             0.1

 [130 rows x 2 columns],
 'payroll_employment':             payroll_employment
 Date
 1939-01-01                 NaN
 1939-02-01               177.0
 1939-03-01               180.0
 1939-04-01              -186.0
 1939-05-01               205.0
 ...                        ...
 2024-08-01               275.0
 2024-09-01               275.0
 2024-10-01               275.0
 2024-11-01               275.0
 2024-12-01               275.0

 [1032 rows x 1 columns],
 'ppi_index_allcommodities':             DATE   PPIACO
 0     01/01/1913   12.100
 1     01/02/1913   12.000
 2     01/03/1913   12.000
 3     01/04/1913   12.000
 4     01/05/1913   11.900
 ...          ...      ...
 1329  01/10/2023  255.192
 1330  01/11/2023  252.926
 1331  01/12/2023  249.892
 1332  01/01/2024  251.328
 1333  01/02/2024  255.510

 [1334 rows x 2 columns],
 'productivity':             Productivity
 Date
 2000-01-01     -1.600000
 2000-02-01      1.700000
 2000-03-01      5.000000
 2000-04-01      8.300000
 2000-05-01      5.433333
 ...                  ...
 2023-06-01      4.166667
 2023-07-01      4.700000
 2023-08-01      4.200000
 2023-09-01      3.700000
 2023-10-01      3.200000

 [286 rows x 1 columns],
 'unemployment_rate':             unemployment_rate
 Date
 1948-01-01                3.4
 1948-02-01                3.8
 1948-03-01                4.0
 1948-04-01                3.9
 1948-05-01                3.5
 ...                       ...
 2024-08-01                3.9
 2024-09-01                3.9
 2024-10-01                3.9
 2024-11-01                3.9
 2024-12-01                3.9

 [924 rows x 1 columns]}

In [23]:
dataframes['ppi_index_allcommodities']['DATE'] = pd.to_datetime(dataframes['ppi_index_allcommodities']['DATE'], format='%m/%d/%Y')
dataframes['ppi_index_allcommodities']['DATE'] = dataframes['ppi_index_allcommodities']['DATE'].dt.strftime('%Y-%d-%m')

In [24]:
dataframes['ppi_index_allcommodities'].set_index('DATE', inplace=True)

In [25]:
dataframes

{'average_hourly_earnings':             Average Hourly Earnings
 Date
 2006-01-01                      NaN
 2006-02-01                      NaN
 2006-03-01                      NaN
 2006-04-01                     0.10
 2006-05-01                    -0.02
 ...                             ...
 2024-08-01                     0.05
 2024-09-01                     0.05
 2024-10-01                     0.05
 2024-11-01                     0.05
 2024-12-01                     0.05

 [228 rows x 1 columns],
 'employment_cost_index_v1':             Estimate Value  Standard Error
 Date
 2013-01-01        1.900000             0.1
 2013-02-01        1.900000             0.1
 2013-03-01        1.900000             0.1
 2013-04-01        1.900000             0.1
 2013-05-01        1.900000             0.1
 ...                    ...             ...
 2023-06-01        4.366667             0.1
 2023-07-01        4.300000             0.1
 2023-08-01        4.266667             0.1
 2023-09-01        4.233333             0.1
 2023-10-01        4.200000             0.1

 [130 rows x 2 columns],
 'payroll_employment':             payroll_employment
 Date
 1939-01-01                 NaN
 1939-02-01               177.0
 1939-03-01               180.0
 1939-04-01              -186.0
 1939-05-01               205.0
 ...                        ...
 2024-08-01               275.0
 2024-09-01               275.0
 2024-10-01               275.0
 2024-11-01               275.0
 2024-12-01               275.0

 [1032 rows x 1 columns],
 'ppi_index_allcommodities':              PPIACO
 DATE
 1913-01-01   12.100
 1913-02-01   12.000
 1913-03-01   12.000
 1913-04-01   12.000
 1913-05-01   11.900
 ...             ...
 2023-10-01  255.192
 2023-11-01  252.926
 2023-12-01  249.892
 2024-01-01  251.328
 2024-02-01  255.510

 [1334 rows x 1 columns],
 'productivity':             Productivity
 Date
 2000-01-01     -1.600000
 2000-02-01      1.700000
 2000-03-01      5.000000
 2000-04-01      8.300000
 2000-05-01      5.433333
 ...                  ...
 2023-06-01      4.166667
 2023-07-01      4.700000
 2023-08-01      4.200000
 2023-09-01      3.700000
 2023-10-01      3.200000

 [286 rows x 1 columns],
 'unemployment_rate':             unemployment_rate
 Date
 1948-01-01                3.4
 1948-02-01                3.8
 1948-03-01                4.0
 1948-04-01                3.9
 1948-05-01                3.5
 ...                       ...
 2024-08-01                3.9
 2024-09-01                3.9
 2024-10-01                3.9
 2024-11-01                3.9
 2024-12-01                3.9

 [924 rows x 1 columns]}

In [26]:
def set_dateAsIndex_removeTime(key):
    dataframes[key].index = pd.to_datetime(dataframes[key].index)
    dataframes[key].index = dataframes[key].index.strftime('%Y-%m-%d')

for fileName in files:
    set_dateAsIndex_removeTime(fileName)

In [27]:
dataframes

{'average_hourly_earnings':             Average Hourly Earnings
 Date
 2006-01-01                      NaN
 2006-02-01                      NaN
 2006-03-01                      NaN
 2006-04-01                     0.10
 2006-05-01                    -0.02
 ...                             ...
 2024-08-01                     0.05
 2024-09-01                     0.05
 2024-10-01                     0.05
 2024-11-01                     0.05
 2024-12-01                     0.05

 [228 rows x 1 columns],
 'employment_cost_index_v1':             Estimate Value  Standard Error
 Date
 2013-01-01        1.900000             0.1
 2013-02-01        1.900000             0.1
 2013-03-01        1.900000             0.1
 2013-04-01        1.900000             0.1
 2013-05-01        1.900000             0.1
 ...                    ...             ...
 2023-06-01        4.366667             0.1
 2023-07-01        4.300000             0.1
 2023-08-01        4.266667             0.1
 2023-09-01        4.233333             0.1
 2023-10-01        4.200000             0.1

 [130 rows x 2 columns],
 'payroll_employment':             payroll_employment
 Date
 1939-01-01                 NaN
 1939-02-01               177.0
 1939-03-01               180.0
 1939-04-01              -186.0
 1939-05-01               205.0
 ...                        ...
 2024-08-01               275.0
 2024-09-01               275.0
 2024-10-01               275.0
 2024-11-01               275.0
 2024-12-01               275.0

 [1032 rows x 1 columns],
 'ppi_index_allcommodities':              PPIACO
 DATE
 1913-01-01   12.100
 1913-02-01   12.000
 1913-03-01   12.000
 1913-04-01   12.000
 1913-05-01   11.900
 ...             ...
 2023-10-01  255.192
 2023-11-01  252.926
 2023-12-01  249.892
 2024-01-01  251.328
 2024-02-01  255.510

 [1334 rows x 1 columns],
 'productivity':             Productivity
 Date
 2000-01-01     -1.600000
 2000-02-01      1.700000
 2000-03-01      5.000000
 2000-04-01      8.300000
 2000-05-01      5.433333
 ...                  ...
 2023-06-01      4.166667
 2023-07-01      4.700000
 2023-08-01      4.200000
 2023-09-01      3.700000
 2023-10-01      3.200000

 [286 rows x 1 columns],
 'unemployment_rate':             unemployment_rate
 Date
 1948-01-01                3.4
 1948-02-01                3.8
 1948-03-01                4.0
 1948-04-01                3.9
 1948-05-01                3.5
 ...                       ...
 2024-08-01                3.9
 2024-09-01                3.9
 2024-10-01                3.9
 2024-11-01                3.9
 2024-12-01                3.9

 [924 rows x 1 columns]}

In [28]:
for df, values in dataframes.items():
    print(df)
    print(values.columns)

average_hourly_earnings
Index(['Average Hourly Earnings'], dtype='object')
employment_cost_index_v1
Index(['Estimate Value', 'Standard Error'], dtype='object')
payroll_employment
Index(['payroll_employment'], dtype='object')
ppi_index_allcommodities
Index(['PPIACO'], dtype='object')
productivity
Index(['Productivity'], dtype='object')
unemployment_rate
Index(['unemployment_rate'], dtype='object')

In [29]:
# Processing: remove data before 2000 and fill missing data from 2000-2024
processed_dfs = {}
start_date = "2000-01-01"
end_date = "2024-12-01"
for name, df in dataframes.items():
    # Convert index to datetime
    df.index = pd.to_datetime(df.index)
    
    # Truncate before 2000 using the corrected datetime index
    df = df[df.index >= pd.Timestamp(start_date)]
    
    # Ensure all dates from 2000-2024 are present, aligning with the start of each month
    idx = pd.date_range(start=start_date, end=end_date, freq='MS')  # 'MS' stands for month start frequency
    df = df.reindex(idx)
    
    # Fill NaN values first forward then backward
    # df.fillna(method='ffill', inplace=True)
    # df.fillna(method='bfill', inplace=True)    
    processed_dfs[name] = df

In [30]:
for i in range(200):
    print(processed_dfs['ppi_index_allcommodities'][i:i+5])

            PPIACO
2000-01-01   128.3
2000-02-01   129.8
2000-03-01   130.8
2000-04-01   130.7
2000-05-01   131.6
            PPIACO
2000-02-01   129.8
2000-03-01   130.8
2000-04-01   130.7
2000-05-01   131.6
2000-06-01   133.8
            PPIACO
2000-03-01   130.8
2000-04-01   130.7
2000-05-01   131.6
2000-06-01   133.8
2000-07-01   133.7
            PPIACO
2000-04-01   130.7
2000-05-01   131.6
2000-06-01   133.8
2000-07-01   133.7
2000-08-01   132.9
            PPIACO
2000-05-01   131.6
2000-06-01   133.8
2000-07-01   133.7
2000-08-01   132.9
2000-09-01   134.7
            PPIACO
2000-06-01   133.8
2000-07-01   133.7
2000-08-01   132.9
2000-09-01   134.7
2000-10-01   135.4
            PPIACO
2000-07-01   133.7
2000-08-01   132.9
2000-09-01   134.7
2000-10-01   135.4
2000-11-01   135.0
            PPIACO
2000-08-01   132.9
2000-09-01   134.7
2000-10-01   135.4
2000-11-01   135.0
2000-12-01   136.2
            PPIACO
2000-09-01   134.7
2000-10-01   135.4
2000-11-01   135.0
2000-12-01   136.2
2001-01-01   140.0
            PPIACO
2000-10-01   135.4
2000-11-01   135.0
2000-12-01   136.2
2001-01-01   140.0
2001-02-01   137.4
            PPIACO
2000-11-01   135.0
2000-12-01   136.2
2001-01-01   140.0
2001-02-01   137.4
2001-03-01   135.9
            PPIACO
2000-12-01   136.2
2001-01-01   140.0
2001-02-01   137.4
2001-03-01   135.9
2001-04-01   136.4
            PPIACO
2001-01-01   140.0
2001-02-01   137.4
2001-03-01   135.9
2001-04-01   136.4
2001-05-01   136.8
            PPIACO
2001-02-01   137.4
2001-03-01   135.9
2001-04-01   136.4
2001-05-01   136.8
2001-06-01   135.5
            PPIACO
2001-03-01   135.9
2001-04-01   136.4
2001-05-01   136.8
2001-06-01   135.5
2001-07-01   133.4
            PPIACO
2001-04-01   136.4
2001-05-01   136.8
2001-06-01   135.5
2001-07-01   133.4
2001-08-01   133.4
            PPIACO
2001-05-01   136.8
2001-06-01   135.5
2001-07-01   133.4
2001-08-01   133.4
2001-09-01   133.3
            PPIACO
2001-06-01   135.5
2001-07-01   133.4
2001-08-01   133.4
2001-09-01   133.3
2001-10-01   130.3
            PPIACO
2001-07-01   133.4
2001-08-01   133.4
2001-09-01   133.3
2001-10-01   130.3
2001-11-01   129.8
            PPIACO
2001-08-01   133.4
2001-09-01   133.3
2001-10-01   130.3
2001-11-01   129.8
2001-12-01   128.1
            PPIACO
2001-09-01   133.3
2001-10-01   130.3
2001-11-01   129.8
2001-12-01   128.1
2002-01-01   128.5
            PPIACO
2001-10-01   130.3
2001-11-01   129.8
2001-12-01   128.1
2002-01-01   128.5
2002-02-01   128.4
            PPIACO
2001-11-01   129.8
2001-12-01   128.1
2002-01-01   128.5
2002-02-01   128.4
2002-03-01   129.8
            PPIACO
2001-12-01   128.1
2002-01-01   128.5
2002-02-01   128.4
2002-03-01   129.8
2002-04-01   130.8
            PPIACO
2002-01-01   128.5
2002-02-01   128.4
2002-03-01   129.8
2002-04-01   130.8
2002-05-01   130.8
            PPIACO
2002-02-01   128.4
2002-03-01   129.8
2002-04-01   130.8
2002-05-01   130.8
2002-06-01   130.9
            PPIACO
2002-03-01   129.8
2002-04-01   130.8
2002-05-01   130.8
2002-06-01   130.9
2002-07-01   131.2
            PPIACO
2002-04-01   130.8
2002-05-01   130.8
2002-06-01   130.9
2002-07-01   131.2
2002-08-01   131.5
            PPIACO
2002-05-01   130.8
2002-06-01   130.9
2002-07-01   131.2
2002-08-01   131.5
2002-09-01   132.3
            PPIACO
2002-06-01   130.9
2002-07-01   131.2
2002-08-01   131.5
2002-09-01   132.3
2002-10-01   133.2
            PPIACO
2002-07-01   131.2
2002-08-01   131.5
2002-09-01   132.3
2002-10-01   133.2
2002-11-01   133.1
            PPIACO
2002-08-01   131.5
2002-09-01   132.3
2002-10-01   133.2
2002-11-01   133.1
2002-12-01   132.9
            PPIACO
2002-09-01   132.3
2002-10-01   133.2
2002-11-01   133.1
2002-12-01   132.9
2003-01-01   135.3
            PPIACO
2002-10-01   133.2
2002-11-01   133.1
2002-12-01   132.9
2003-01-01   135.3
2003-02-01   137.6
            PPIACO
2002-11-01   133.1
2002-12-01   132.9
2003-01-01   135.3
2003-02-01   137.6
2003-03-01   141.2
            PPIACO
2002-12-01   132.9
2003-01-01   135.3
2003-02-01   137.6
2003-03-01   141.2
2003-04-01   136.8
            PPIACO
2003-01-01   135.3
2003-02-01   137.6
2003-03-01   141.2
2003-04-01   136.8
2003-05-01   136.7
            PPIACO
2003-02-01   137.6
2003-03-01   141.2
2003-04-01   136.8
2003-05-01   136.7
2003-06-01   138.0
            PPIACO
2003-03-01   141.2
2003-04-01   136.8
2003-05-01   136.7
2003-06-01   138.0
2003-07-01   137.7
            PPIACO
2003-04-01   136.8
2003-05-01   136.7
2003-06-01   138.0
2003-07-01   137.7
2003-08-01   138.0
            PPIACO
2003-05-01   136.7
2003-06-01   138.0
2003-07-01   137.7
2003-08-01   138.0
2003-09-01   138.5
            PPIACO
2003-06-01   138.0
2003-07-01   137.7
2003-08-01   138.0
2003-09-01   138.5
2003-10-01   139.3
            PPIACO
2003-07-01   137.7
2003-08-01   138.0
2003-09-01   138.5
2003-10-01   139.3
2003-11-01   138.9
            PPIACO
2003-08-01   138.0
2003-09-01   138.5
2003-10-01   139.3
2003-11-01   138.9
2003-12-01   139.5
            PPIACO
2003-09-01   138.5
2003-10-01   139.3
2003-11-01   138.9
2003-12-01   139.5
2004-01-01   141.4
            PPIACO
2003-10-01   139.3
2003-11-01   138.9
2003-12-01   139.5
2004-01-01   141.4
2004-02-01   142.1
            PPIACO
2003-11-01   138.9
2003-12-01   139.5
2004-01-01   141.4
2004-02-01   142.1
2004-03-01   143.1
            PPIACO
2003-12-01   139.5
2004-01-01   141.4
2004-02-01   142.1
2004-03-01   143.1
2004-04-01   144.8
            PPIACO
2004-01-01   141.4
2004-02-01   142.1
2004-03-01   143.1
2004-04-01   144.8
2004-05-01   146.8
            PPIACO
2004-02-01   142.1
2004-03-01   143.1
2004-04-01   144.8
2004-05-01   146.8
2004-06-01   147.2
            PPIACO
2004-03-01   143.1
2004-04-01   144.8
2004-05-01   146.8
2004-06-01   147.2
2004-07-01   147.4
            PPIACO
2004-04-01   144.8
2004-05-01   146.8
2004-06-01   147.2
2004-07-01   147.4
2004-08-01   148.0
            PPIACO
2004-05-01   146.8
2004-06-01   147.2
2004-07-01   147.4
2004-08-01   148.0
2004-09-01   147.7
            PPIACO
2004-06-01   147.2
2004-07-01   147.4
2004-08-01   148.0
2004-09-01   147.7
2004-10-01   150.0
            PPIACO
2004-07-01   147.4
2004-08-01   148.0
2004-09-01   147.7
2004-10-01   150.0
2004-11-01   151.4
            PPIACO
2004-08-01   148.0
2004-09-01   147.7
2004-10-01   150.0
2004-11-01   151.4
2004-12-01   150.2
            PPIACO
2004-09-01   147.7
2004-10-01   150.0
2004-11-01   151.4
2004-12-01   150.2
2005-01-01   150.9
            PPIACO
2004-10-01   150.0
2004-11-01   151.4
2004-12-01   150.2
2005-01-01   150.9
2005-02-01   151.6
            PPIACO
2004-11-01   151.4
2004-12-01   150.2
2005-01-01   150.9
2005-02-01   151.6
2005-03-01   153.7
            PPIACO
2004-12-01   150.2
2005-01-01   150.9
2005-02-01   151.6
2005-03-01   153.7
2005-04-01   155.0
            PPIACO
2005-01-01   150.9
2005-02-01   151.6
2005-03-01   153.7
2005-04-01   155.0
2005-05-01   154.3
            PPIACO
2005-02-01   151.6
2005-03-01   153.7
2005-04-01   155.0
2005-05-01   154.3
2005-06-01   154.3
            PPIACO
2005-03-01   153.7
2005-04-01   155.0
2005-05-01   154.3
2005-06-01   154.3
2005-07-01   156.3
            PPIACO
2005-04-01   155.0
2005-05-01   154.3
2005-06-01   154.3
2005-07-01   156.3
2005-08-01   157.6
            PPIACO
2005-05-01   154.3
2005-06-01   154.3
2005-07-01   156.3
2005-08-01   157.6
2005-09-01   162.2
            PPIACO
2005-06-01   154.3
2005-07-01   156.3
2005-08-01   157.6
2005-09-01   162.2
2005-10-01   166.2
            PPIACO
2005-07-01   156.3
2005-08-01   157.6
2005-09-01   162.2
2005-10-01   166.2
2005-11-01   163.7
            PPIACO
2005-08-01   157.6
2005-09-01   162.2
2005-10-01   166.2
2005-11-01   163.7
2005-12-01   163.0
            PPIACO
2005-09-01   162.2
2005-10-01   166.2
2005-11-01   163.7
2005-12-01   163.0
2006-01-01   164.3
            PPIACO
2005-10-01   166.2
2005-11-01   163.7
2005-12-01   163.0
2006-01-01   164.3
2006-02-01   161.8
            PPIACO
2005-11-01   163.7
2005-12-01   163.0
2006-01-01   164.3
2006-02-01   161.8
2006-03-01   162.2
            PPIACO
2005-12-01   163.0
2006-01-01   164.3
2006-02-01   161.8
2006-03-01   162.2
2006-04-01   164.3
            PPIACO
2006-01-01   164.3
2006-02-01   161.8
2006-03-01   162.2
2006-04-01   164.3
2006-05-01   165.8
            PPIACO
2006-02-01   161.8
2006-03-01   162.2
2006-04-01   164.3
2006-05-01   165.8
2006-06-01   166.1
            PPIACO
2006-03-01   162.2
2006-04-01   164.3
2006-05-01   165.8
2006-06-01   166.1
2006-07-01   166.8
            PPIACO
2006-04-01   164.3
2006-05-01   165.8
2006-06-01   166.1
2006-07-01   166.8
2006-08-01   167.9
            PPIACO
2006-05-01   165.8
2006-06-01   166.1
2006-07-01   166.8
2006-08-01   167.9
2006-09-01   165.4
            PPIACO
2006-06-01   166.1
2006-07-01   166.8
2006-08-01   167.9
2006-09-01   165.4
2006-10-01   162.2
            PPIACO
2006-07-01   166.8
2006-08-01   167.9
2006-09-01   165.4
2006-10-01   162.2
2006-11-01   164.6
            PPIACO
2006-08-01   167.9
2006-09-01   165.4
2006-10-01   162.2
2006-11-01   164.6
2006-12-01   165.6
            PPIACO
2006-09-01   165.4
2006-10-01   162.2
2006-11-01   164.6
2006-12-01   165.6
2007-01-01   164.0
            PPIACO
2006-10-01   162.2
2006-11-01   164.6
2006-12-01   165.6
2007-01-01   164.0
2007-02-01   166.8
            PPIACO
2006-11-01   164.6
2006-12-01   165.6
2007-01-01   164.0
2007-02-01   166.8
2007-03-01   169.3
            PPIACO
2006-12-01   165.6
2007-01-01   164.0
2007-02-01   166.8
2007-03-01   169.3
2007-04-01   171.4
            PPIACO
2007-01-01   164.0
2007-02-01   166.8
2007-03-01   169.3
2007-04-01   171.4
2007-05-01   173.3
            PPIACO
2007-02-01   166.8
2007-03-01   169.3
2007-04-01   171.4
2007-05-01   173.3
2007-06-01   173.8
            PPIACO
2007-03-01   169.3
2007-04-01   171.4
2007-05-01   173.3
2007-06-01   173.8
2007-07-01   175.1
            PPIACO
2007-04-01   171.4
2007-05-01   173.3
2007-06-01   173.8
2007-07-01   175.1
2007-08-01   172.4
            PPIACO
2007-05-01   173.3
2007-06-01   173.8
2007-07-01   175.1
2007-08-01   172.4
2007-09-01   173.5
            PPIACO
2007-06-01   173.8
2007-07-01   175.1
2007-08-01   172.4
2007-09-01   173.5
2007-10-01   174.7
            PPIACO
2007-07-01   175.1
2007-08-01   172.4
2007-09-01   173.5
2007-10-01   174.7
2007-11-01   179.0
            PPIACO
2007-08-01   172.4
2007-09-01   173.5
2007-10-01   174.7
2007-11-01   179.0
2007-12-01   178.6
            PPIACO
2007-09-01   173.5
2007-10-01   174.7
2007-11-01   179.0
2007-12-01   178.6
2008-01-01   181.0
            PPIACO
2007-10-01   174.7
2007-11-01   179.0
2007-12-01   178.6
2008-01-01   181.0
2008-02-01   182.7
            PPIACO
2007-11-01   179.0
2007-12-01   178.6
2008-01-01   181.0
2008-02-01   182.7
2008-03-01   187.9
            PPIACO
2007-12-01   178.6
2008-01-01   181.0
2008-02-01   182.7
2008-03-01   187.9
2008-04-01   190.9
            PPIACO
2008-01-01   181.0
2008-02-01   182.7
2008-03-01   187.9
2008-04-01   190.9
2008-05-01   196.6
            PPIACO
2008-02-01   182.7
2008-03-01   187.9
2008-04-01   190.9
2008-05-01   196.6
2008-06-01   200.5
            PPIACO
2008-03-01   187.9
2008-04-01   190.9
2008-05-01   196.6
2008-06-01   200.5
2008-07-01   205.5
            PPIACO
2008-04-01   190.9
2008-05-01   196.6
2008-06-01   200.5
2008-07-01   205.5
2008-08-01   199.0
            PPIACO
2008-05-01   196.6
2008-06-01   200.5
2008-07-01   205.5
2008-08-01   199.0
2008-09-01   196.9
            PPIACO
2008-06-01   200.5
2008-07-01   205.5
2008-08-01   199.0
2008-09-01   196.9
2008-10-01   186.4
            PPIACO
2008-07-01   205.5
2008-08-01   199.0
2008-09-01   196.9
2008-10-01   186.4
2008-11-01   176.8
            PPIACO
2008-08-01   199.0
2008-09-01   196.9
2008-10-01   186.4
2008-11-01   176.8
2008-12-01   170.9
            PPIACO
2008-09-01   196.9
2008-10-01   186.4
2008-11-01   176.8
2008-12-01   170.9
2009-01-01   171.2
            PPIACO
2008-10-01   186.4
2008-11-01   176.8
2008-12-01   170.9
2009-01-01   171.2
2009-02-01   169.3
            PPIACO
2008-11-01   176.8
2008-12-01   170.9
2009-01-01   171.2
2009-02-01   169.3
2009-03-01   168.1
            PPIACO
2008-12-01   170.9
2009-01-01   171.2
2009-02-01   169.3
2009-03-01   168.1
2009-04-01   169.1
            PPIACO
2009-01-01   171.2
2009-02-01   169.3
2009-03-01   168.1
2009-04-01   169.1
2009-05-01   170.8
            PPIACO
2009-02-01   169.3
2009-03-01   168.1
2009-04-01   169.1
2009-05-01   170.8
2009-06-01   174.1
            PPIACO
2009-03-01   168.1
2009-04-01   169.1
2009-05-01   170.8
2009-06-01   174.1
2009-07-01   172.5
            PPIACO
2009-04-01   169.1
2009-05-01   170.8
2009-06-01   174.1
2009-07-01   172.5
2009-08-01   175.0
            PPIACO
2009-05-01   170.8
2009-06-01   174.1
2009-07-01   172.5
2009-08-01   175.0
2009-09-01   174.1
            PPIACO
2009-06-01   174.1
2009-07-01   172.5
2009-08-01   175.0
2009-09-01   174.1
2009-10-01   175.2
            PPIACO
2009-07-01   172.5
2009-08-01   175.0
2009-09-01   174.1
2009-10-01   175.2
2009-11-01   177.4
            PPIACO
2009-08-01   175.0
2009-09-01   174.1
2009-10-01   175.2
2009-11-01   177.4
2009-12-01   178.1
            PPIACO
2009-09-01   174.1
2009-10-01   175.2
2009-11-01   177.4
2009-12-01   178.1
2010-01-01   181.9
            PPIACO
2009-10-01   175.2
2009-11-01   177.4
2009-12-01   178.1
2010-01-01   181.9
2010-02-01   181.0
            PPIACO
2009-11-01   177.4
2009-12-01   178.1
2010-01-01   181.9
2010-02-01   181.0
2010-03-01   183.3
            PPIACO
2009-12-01   178.1
2010-01-01   181.9
2010-02-01   181.0
2010-03-01   183.3
2010-04-01   184.4
            PPIACO
2010-01-01   181.9
2010-02-01   181.0
2010-03-01   183.3
2010-04-01   184.4
2010-05-01   184.8
            PPIACO
2010-02-01   181.0
2010-03-01   183.3
2010-04-01   184.4
2010-05-01   184.8
2010-06-01   183.5
            PPIACO
2010-03-01   183.3
2010-04-01   184.4
2010-05-01   184.8
2010-06-01   183.5
2010-07-01   184.1
            PPIACO
2010-04-01   184.4
2010-05-01   184.8
2010-06-01   183.5
2010-07-01   184.1
2010-08-01   184.9
            PPIACO
2010-05-01   184.8
2010-06-01   183.5
2010-07-01   184.1
2010-08-01   184.9
2010-09-01   184.9
            PPIACO
2010-06-01   183.5
2010-07-01   184.1
2010-08-01   184.9
2010-09-01   184.9
2010-10-01   186.6
            PPIACO
2010-07-01   184.1
2010-08-01   184.9
2010-09-01   184.9
2010-10-01   186.6
2010-11-01   187.7
            PPIACO
2010-08-01   184.9
2010-09-01   184.9
2010-10-01   186.6
2010-11-01   187.7
2010-12-01   189.7
            PPIACO
2010-09-01   184.9
2010-10-01   186.6
2010-11-01   187.7
2010-12-01   189.7
2011-01-01   192.7
            PPIACO
2010-10-01   186.6
2010-11-01   187.7
2010-12-01   189.7
2011-01-01   192.7
2011-02-01   195.8
            PPIACO
2010-11-01   187.7
2010-12-01   189.7
2011-01-01   192.7
2011-02-01   195.8
2011-03-01   199.2
            PPIACO
2010-12-01   189.7
2011-01-01   192.7
2011-02-01   195.8
2011-03-01   199.2
2011-04-01   203.1
            PPIACO
2011-01-01   192.7
2011-02-01   195.8
2011-03-01   199.2
2011-04-01   203.1
2011-05-01   204.1
            PPIACO
2011-02-01   195.8
2011-03-01   199.2
2011-04-01   203.1
2011-05-01   204.1
2011-06-01   203.9
            PPIACO
2011-03-01   199.2
2011-04-01   203.1
2011-05-01   204.1
2011-06-01   203.9
2011-07-01   204.6
            PPIACO
2011-04-01   203.1
2011-05-01   204.1
2011-06-01   203.9
2011-07-01   204.6
2011-08-01   203.2
            PPIACO
2011-05-01   204.1
2011-06-01   203.9
2011-07-01   204.6
2011-08-01   203.2
2011-09-01   203.7
            PPIACO
2011-06-01   203.9
2011-07-01   204.6
2011-08-01   203.2
2011-09-01   203.7
2011-10-01   201.1
            PPIACO
2011-07-01   204.6
2011-08-01   203.2
2011-09-01   203.7
2011-10-01   201.1
2011-11-01   201.4
            PPIACO
2011-08-01   203.2
2011-09-01   203.7
2011-10-01   201.1
2011-11-01   201.4
2011-12-01   199.8
            PPIACO
2011-09-01   203.7
2011-10-01   201.1
2011-11-01   201.4
2011-12-01   199.8
2012-01-01   200.7
            PPIACO
2011-10-01   201.1
2011-11-01   201.4
2011-12-01   199.8
2012-01-01   200.7
2012-02-01   201.6
            PPIACO
2011-11-01   201.4
2011-12-01   199.8
2012-01-01   200.7
2012-02-01   201.6
2012-03-01   204.2
            PPIACO
2011-12-01   199.8
2012-01-01   200.7
2012-02-01   201.6
2012-03-01   204.2
2012-04-01   203.7
            PPIACO
2012-01-01   200.7
2012-02-01   201.6
2012-03-01   204.2
2012-04-01   203.7
2012-05-01   201.9
            PPIACO
2012-02-01   201.6
2012-03-01   204.2
2012-04-01   203.7
2012-05-01   201.9
2012-06-01   199.8
            PPIACO
2012-03-01   204.2
2012-04-01   203.7
2012-05-01   201.9
2012-06-01   199.8
2012-07-01   200.1
            PPIACO
2012-04-01   203.7
2012-05-01   201.9
2012-06-01   199.8
2012-07-01   200.1
2012-08-01   202.7
            PPIACO
2012-05-01   201.9
2012-06-01   199.8
2012-07-01   200.1
2012-08-01   202.7
2012-09-01   204.4
            PPIACO
2012-06-01   199.8
2012-07-01   200.1
2012-08-01   202.7
2012-09-01   204.4
2012-10-01   203.5
            PPIACO
2012-07-01   200.1
2012-08-01   202.7
2012-09-01   204.4
2012-10-01   203.5
2012-11-01   201.8
            PPIACO
2012-08-01   202.7
2012-09-01   204.4
2012-10-01   203.5
2012-11-01   201.8
2012-12-01   201.5
            PPIACO
2012-09-01   204.4
2012-10-01   203.5
2012-11-01   201.8
2012-12-01   201.5
2013-01-01   202.5
            PPIACO
2012-10-01   203.5
2012-11-01   201.8
2012-12-01   201.5
2013-01-01   202.5
2013-02-01   204.3
            PPIACO
2012-11-01   201.8
2012-12-01   201.5
2013-01-01   202.5
2013-02-01   204.3
2013-03-01   204.0
            PPIACO
2012-12-01   201.5
2013-01-01   202.5
2013-02-01   204.3
2013-03-01   204.0
2013-04-01   203.5
            PPIACO
2013-01-01   202.5
2013-02-01   204.3
2013-03-01   204.0
2013-04-01   203.5
2013-05-01   204.1
            PPIACO
2013-02-01   204.3
2013-03-01   204.0
2013-04-01   203.5
2013-05-01   204.1
2013-06-01   204.3
            PPIACO
2013-03-01   204.0
2013-04-01   203.5
2013-05-01   204.1
2013-06-01   204.3
2013-07-01   204.4
            PPIACO
2013-04-01   203.5
2013-05-01   204.1
2013-06-01   204.3
2013-07-01   204.4
2013-08-01   204.2
            PPIACO
2013-05-01   204.1
2013-06-01   204.3
2013-07-01   204.4
2013-08-01   204.2
2013-09-01   203.9
            PPIACO
2013-06-01   204.3
2013-07-01   204.4
2013-08-01   204.2
2013-09-01   203.9
2013-10-01   202.5
            PPIACO
2013-07-01   204.4
2013-08-01   204.2
2013-09-01   203.9
2013-10-01   202.5
2013-11-01   201.2
            PPIACO
2013-08-01   204.2
2013-09-01   203.9
2013-10-01   202.5
2013-11-01   201.2
2013-12-01   202.0
            PPIACO
2013-09-01   203.9
2013-10-01   202.5
2013-11-01   201.2
2013-12-01   202.0
2014-01-01   203.8
            PPIACO
2013-10-01   202.5
2013-11-01   201.2
2013-12-01   202.0
2014-01-01   203.8
2014-02-01   205.7
            PPIACO
2013-11-01   201.2
2013-12-01   202.0
2014-01-01   203.8
2014-02-01   205.7
2014-03-01   207.0
            PPIACO
2013-12-01   202.0
2014-01-01   203.8
2014-02-01   205.7
2014-03-01   207.0
2014-04-01   208.3
            PPIACO
2014-01-01   203.8
2014-02-01   205.7
2014-03-01   207.0
2014-04-01   208.3
2014-05-01   208.0
            PPIACO
2014-02-01   205.7
2014-03-01   207.0
2014-04-01   208.3
2014-05-01   208.0
2014-06-01   208.3
            PPIACO
2014-03-01   207.0
2014-04-01   208.3
2014-05-01   208.0
2014-06-01   208.3
2014-07-01   208.0
            PPIACO
2014-04-01   208.3
2014-05-01   208.0
2014-06-01   208.3
2014-07-01   208.0
2014-08-01   207.0
            PPIACO
2014-05-01   208.0
2014-06-01   208.3
2014-07-01   208.0
2014-08-01   207.0
2014-09-01   206.4
            PPIACO
2014-06-01   208.3
2014-07-01   208.0
2014-08-01   207.0
2014-09-01   206.4
2014-10-01   203.4
            PPIACO
2014-07-01   208.0
2014-08-01   207.0
2014-09-01   206.4
2014-10-01   203.4
2014-11-01   200.9
            PPIACO
2014-08-01   207.0

In [31]:
processed_dfs['average_hourly_earnings'][i:i+5]

            Average Hourly Earnings
2016-08-01                     0.03
2016-09-01                     0.05
2016-10-01                     0.12
2016-11-01                     0.01
2016-12-01                     0.02

In [32]:
df_final = pd.DataFrame()
for df in processed_dfs.values():
    #df.index = pd.to_datetime(df.index)
    #years = df.index.str.slice(0, 4).astype(int)
    #df = df[years >= 2000]
    print(df_final)
    if df_final.empty:
        df_final = df
    else:
        df_final = pd.concat([df_final, df], axis=1, sort=False)

Empty DataFrame
Columns: []
Index: []
            Average Hourly Earnings
2000-01-01                      NaN
2000-02-01                      NaN
2000-03-01                      NaN
2000-04-01                      NaN
2000-05-01                      NaN
...                             ...
2024-08-01                     0.05
2024-09-01                     0.05
2024-10-01                     0.05
2024-11-01                     0.05
2024-12-01                     0.05

[300 rows x 1 columns]
            Average Hourly Earnings  Estimate Value  Standard Error
2000-01-01                      NaN             NaN             NaN
2000-02-01                      NaN             NaN             NaN
2000-03-01                      NaN             NaN             NaN
2000-04-01                      NaN             NaN             NaN
2000-05-01                      NaN             NaN             NaN
...                             ...             ...             ...
2024-08-01                     0.05             NaN             NaN
2024-09-01                     0.05             NaN             NaN
2024-10-01                     0.05             NaN             NaN
2024-11-01                     0.05             NaN             NaN
2024-12-01                     0.05             NaN             NaN

[300 rows x 3 columns]
            Average Hourly Earnings  Estimate Value  Standard Error  \
2000-01-01                      NaN             NaN             NaN
2000-02-01                      NaN             NaN             NaN
2000-03-01                      NaN             NaN             NaN
2000-04-01                      NaN             NaN             NaN
2000-05-01                      NaN             NaN             NaN
...                             ...             ...             ...
2024-08-01                     0.05             NaN             NaN
2024-09-01                     0.05             NaN             NaN
2024-10-01                     0.05             NaN             NaN
2024-11-01                     0.05             NaN             NaN
2024-12-01                     0.05             NaN             NaN

            payroll_employment
2000-01-01               228.0
2000-02-01               111.0
2000-03-01               484.0
2000-04-01               279.0
2000-05-01               223.0
...                        ...
2024-08-01               275.0
2024-09-01               275.0
2024-10-01               275.0
2024-11-01               275.0
2024-12-01               275.0

[300 rows x 4 columns]
            Average Hourly Earnings  Estimate Value  Standard Error  \
2000-01-01                      NaN             NaN             NaN
2000-02-01                      NaN             NaN             NaN
2000-03-01                      NaN             NaN             NaN
2000-04-01                      NaN             NaN             NaN
2000-05-01                      NaN             NaN             NaN
...                             ...             ...             ...
2024-08-01                     0.05             NaN             NaN
2024-09-01                     0.05             NaN             NaN
2024-10-01                     0.05             NaN             NaN
2024-11-01                     0.05             NaN             NaN
2024-12-01                     0.05             NaN             NaN

            payroll_employment  PPIACO
2000-01-01               228.0   128.3
2000-02-01               111.0   129.8
2000-03-01               484.0   130.8
2000-04-01               279.0   130.7
2000-05-01               223.0   131.6
...                        ...     ...
2024-08-01               275.0     NaN
2024-09-01               275.0     NaN
2024-10-01               275.0     NaN
2024-11-01               275.0     NaN
2024-12-01               275.0     NaN

[300 rows x 5 columns]
            Average Hourly Earnings  Estimate Value  Standard Error  \
2000-01-01                      NaN             NaN             NaN
2000-02-01                      NaN             NaN             NaN
2000-03-01                      NaN             NaN             NaN
2000-04-01                      NaN             NaN             NaN
2000-05-01                      NaN             NaN             NaN
...                             ...             ...             ...
2024-08-01                     0.05             NaN             NaN
2024-09-01                     0.05             NaN             NaN
2024-10-01                     0.05             NaN             NaN
2024-11-01                     0.05             NaN             NaN
2024-12-01                     0.05             NaN             NaN

            payroll_employment  PPIACO  Productivity
2000-01-01               228.0   128.3     -1.600000
2000-02-01               111.0   129.8      1.700000
2000-03-01               484.0   130.8      5.000000
2000-04-01               279.0   130.7      8.300000
2000-05-01               223.0   131.6      5.433333
...                        ...     ...           ...
2024-08-01               275.0     NaN           NaN
2024-09-01               275.0     NaN           NaN
2024-10-01               275.0     NaN           NaN
2024-11-01               275.0     NaN           NaN
2024-12-01               275.0     NaN           NaN

[300 rows x 6 columns]

In [33]:
df_final

,Average Hourly Earnings,Estimate Value,Standard Error,payroll_employment,PPIACO,Productivity,unemployment_rate
2000-01-01,NaN,NaN,NaN,228.0,128.3,-1.600000,4.0
2000-02-01,NaN,NaN,NaN,111.0,129.8,1.700000,4.1
2000-03-01,NaN,NaN,NaN,484.0,130.8,5.000000,4.0
2000-04-01,NaN,NaN,NaN,279.0,130.7,8.300000,3.8
2000-05-01,NaN,NaN,NaN,223.0,131.6,5.433333,4.0
...,...,...,...,...,...,...,...
2024-08-01,0.05,NaN,NaN,275.0,NaN,NaN,3.9
2024-09-01,0.05,NaN,NaN,275.0,NaN,NaN,3.9
2024-10-01,0.05,NaN,NaN,275.0,NaN,NaN,3.9
2024-11-01,0.05,NaN,NaN,275.0,NaN,NaN,3.9
2024-12-01,0.05,NaN,NaN,275.0,NaN,NaN,3.9

In [34]:
df_final.to_csv('./final_data_v2.csv')